/* pc 暂存箱的弹窗 */
.z_c_box{
    background: #fff;
    display: inline-block;
}
.z_c_box .act_pop_table th{
    background-color: #f2f6ff;
    color:#535456;
    font-weight: bold;
    text-align: center
}
.z_c_box .act_pop_table td{
    color: #868686;
    border: 1px solid #eeeeee
}
.z_c_box .cz_td {
    width: 300px;   
}
.z_c_box .cz_td span{
    display: inline-block;
    border: 1px solid #dbdbdb;
    cursor: pointer;
    padding: 0 8px;
    margin: 0 4px;
}
.z_c_box .noPackage td{
    color: #7c95b8;
}
.z_c_box thead tr{
    border: 1px solid #eee;
    border-bottom:none;
}
.z_c_box .text_c{
    color: #868686;
}
/* pc 暂存箱的弹窗 */
/*PC����ʽ*/
.luban-template-45>img {
    width: 1000px;
    height: 480px;
}
.luban-template-45>span {
    position: absolute;
    bottom: 130px;
    left: 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: #999999;
    min-height: 32px;
}
.luban-template-45 .btns {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
}
.luban-template-45 .btns>a {
    margin: 0 80px;
}
.luban-template-23>div {
    margin-top: 8px;
    margin-bottom: 8px;
}
.luban-template-23 p {
    line-height: 24px;
    font-size: 20px;
}
.luban-template-23 .color-red {
    color: red;
}
.luban-template-48 h2 {
    margin-top: 36px;
}
.luban-template-48 .text1 {
    margin-top: 10px;
}
.luban-template-48 .img1 {
    width: 1000px;
    height: 500px;
    margin-top: 20px;
}
.luban-template-48 .luban-button {
    margin-top: 32px;
}
.luban-template-48 .text2 {
    margin-top: 10px;
    margin-bottom: 26px;
}
.luban-template-48 h2 {
    margin-top: 36px;
}
.luban-template-48 .text1 {
    margin-top: 10px;
}
.luban-template-48 .img1 {
    width: 1000px;
    height: 500px;
    margin-top: 20px;
}
.luban-template-48 .luban-button {
    margin-top: 32px;
}
.luban-template-48 .text2 {
    margin-top: 10px;
    margin-bottom: 26px;
}
.luban-template-84 .text2 {
    margin-top: 14px;
    margin-bottom: 14px;
}
.luban-template-71 h2 {
    margin-top: 36px;
}
.luban-template-71 .text1 {
    margin-top: 10px;
}
.luban-template-71 .template-boxs {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 0;
}
.luban-template-71 .template-box {
    width: 240px;
    height: 150px;
    margin: 5px;
    float: left;
}
.luban-template-71 .template-box .template-box-item {
    width: 100%;
    height: 150px;
    position: relative;
}
.luban-template-71 .template-box .template-box-item .img-bg {
    width: 100%;
    height: 100%;
}
.luban-template-71 .luban-button-mini {
    bottom: 5px;
    right: 5px;
    position: absolute;
}
.luban-template-71 .text2 {
    margin-top: 14px;
    margin-bottom: 26px;
}
.luban-template{margin-top:20px;}
