.part-1 {
    background-image: url('../images/p1_bg.jpg');
}
.form-container {
    margin: 6rem 0 0 3.4rem;
    width: 1.9rem;
}
.input-wrap {
    width: 100%;
    height: .34rem;
    line-height: .34rem;
    background-color: transparent;
    border: none;
    font-size: .24rem;
    color: #6a3332;
}
.input-wrap::-webkit-input-placeholder {
    color: #7e6447;
}
.sex-list {
    margin-top: .4rem;
    line-height: 1;
    font-size: .24rem;
    color: #6a3332;
}
.sex-list label .radio-icon {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: .02rem;
    width: .24rem;
    height: .24rem;
    border-radius: .16rem;
    border: .02rem solid #5d3230;
}
.sex-list label input:checked + .radio-icon i {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 99px;
    background-color: #5d3230;
}
.part-1 .btn-container {
    margin: .6rem auto 0;
}
.btn-start {
    width: 2.36rem;
    height: .62rem;
    background-position: 0 0;
}
.part-1 .btn-container a {
    margin: 0 .09rem;
}
.part-1 .btn-container.ck a:nth-child(1),
.part-1 .btn-container a:nth-child(2),
.part-1 .btn-container a:nth-child(3) {
    display: none;
}
.part-1 .btn-container.ck a:nth-child(2),
.part-1 .btn-container.ck a:nth-child(3) {
    display: block;
}
.logo-icon {
    margin: .14rem auto 0;
    width: 2.92rem;
}
.btn-clickme {
    z-index: 999;
    bottom: .7rem;
    left: 4.58rem;
    width: 1.01rem;
    height: .44rem;
    background-position: -2.42rem 0;
}
/* p2 */
.part-2 {
    background-image: url('../images/p2_bg.jpg');
}
.part-2 .logo-icon {
    margin-top: .62rem;
}
.part-2 .title-icon {
    margin: 0 auto;
    width: 3.27rem;
}
.avatar-wrap {
    margin: .2rem auto 0;
    width: 1.78rem;
}
.part-2 .zhang-icon {
    top: 3.22rem;
    left: 4.04rem;
    width: 1.64rem;
    pointer-events: none;
}
.ks-msg-text {
    margin-top: .2rem;
    line-height: 1;
    font-size: .24rem;
    color: #1b0f01;
}
.ks-msg-text span {
    color: #851f1c;
    vertical-align: bottom;
}
.btn-answer {
    margin: .2rem auto 0;
    width: 2.36rem;
    height: .62rem;
    background-position: 0 -.67rem;
}
.rule-list {
    margin: .15rem 1rem 0;
}
.rule-list li {
    line-height: .36rem;
    font-size: .2rem;
    color: #1b0f01;
}
.rule-list li span {
    color: #723029;
}
.part-2 .code-icon {
    margin: .2rem auto 0;
    padding: .07rem;
    box-sizing: border-box;
    width: 1.17rem;
    background-image: url('../images/p4_code_bg.png');
}
.part-2 .code-icon img {
    padding: .02rem;
    box-sizing: border-box;
    width: 1.04rem;
    background-color: #fff;
}
.part-2 .btn-clickme {
    bottom: .4rem;
    left: 4.84rem;
}
/* p3 */
.part-3 {
    background-image: url('../images/p3_bg.jpg');
}
.part-3 .logo-icon {
    margin-top: .5rem;
}
.part-3 .btn-clickme {
    bottom: 0.4rem;
    left: 5rem;
}
.answer-list {
    margin: 0.6rem 1.1rem 0 1.6rem;
}
.answer-list li {
    display: none;
}
.answer-title-test {
    line-height: .5rem;
    font-weight: bold;
    font-size: .26rem;
    color: #851f1c;
}
.answer-option {
    display: block;
    margin-top: .16rem;
    line-height: .62rem;
    font-size: .22rem;
    color: #1b0f01;
    text-decoration: none;
    transform-origin: center left;
    -webkit-transform-origin: center left;
}
.answer-option i  {
    position: absolute;
    top: 0.16rem;
    left: .06rem;
    width: .3rem;
    height: .29rem;
    background-position: -3.47rem 0;
    opacity: 0;
}
.answer-option.active i  {
    opacity: 1;
}
.part-3 .btn-container {
    margin-top: .8rem;
}
.btn-prev,
.btn-next,
.btn-submit-result {
    margin: 0 .12rem;
    width: 2.07rem;
    height: .62rem;
}
.btn-prev {
    background-position: 0 -1.34rem;
}
.btn-next {
    background-position: 0 -2.01rem;
}
.btn-submit-result {
    display: none;
    background-position: -2.12rem -2.01rem;
}
/* p4 */
.part-4 {
    background-image: url('../images/p4_bg.jpg');
}
.poster-container {
    top: -100rem;
    /* top: -2rem; */
    left: 0;
    z-index: 99;
    width: 7.5rem;
    height: 16.5rem;
    overflow: hidden;
}
.poster-wrap {
    width: 7.49rem;
    height: 16.49rem;
    background-image: url('../images/poster_bg.jpg');
    pointer-events: none;
    overflow: hidden;
}
.part-4 .logo-icon {
    margin-top: 0.8rem;
    pointer-events: none;
}
.part-4 .title-icon {
    margin: 0 auto;
    width: 3.79rem;
    pointer-events: none;
}
.part-4 .ks-msg-text {
    margin-top: 0.24rem;
    margin-left: 1.3rem;
    pointer-events: none;
}
.fs-container {
    margin: .4rem auto 0;
    width: 4.92rem;
    height: 1.22rem;
    background-image: url('../images/p4_fs.png');
    background-size: 99.6% auto;
    background-position: 0 1px;
    pointer-events: none;
    overflow: hidden;
}
.fs-wrap {
    top: 0.62rem;
    left: 50.5%;
    width: 2.42rem;
    font-weight: bold;
    line-height: .6rem;
    font-size: .24rem;
    color: #6d231f;
}
.inset-container {
    margin-top: 0.38rem;
    pointer-events: none;
}
.part-4 .btn-clickme {
    top: 10.9rem;
    left: 4.82rem;
}
.part-4 .code-wrap {
    margin-left: 1.28rem;
    padding: .08rem;
    box-sizing: border-box;
    width: 1.41rem;
    height: 1.41rem;
    background-image: url('../images/p4_code_bg.png');
}
.poster-container .code-wrap {
    margin: .3rem auto 0;
}
.part-4 .code-wrap img {
    display: block;
    padding: .02rem;
    box-sizing: border-box;
    width: 1.26rem;
    background-color: #fff;
}
.inset-wrap {
    margin-left: .4rem;
    width: 3.44rem;
}
.poster-container .inset-wrap {
    margin-top: .28rem;
    margin-left: 2.5rem;
}
.part-4 .btn-container {
    margin-top: .36rem;
}
.btn-wyck,
.btn-lqjl,
.btn-cxjl {
    position: relative;
    z-index: 999;
    margin: 0 .14rem;
    width: 1.8rem;
    height: .55rem;
}
.btn-wyck {
    background-position: 0 -2.68rem;
}
.btn-lqjl {
    background-position: 0 -3.28rem;
}
.btn-cxjl {
    background-position: -1.85rem -2.68rem;
}
.part-4 .btn-container .btn-lqjl,
.part-4 .btn-container.ck .btn-lqjl,
.part-4 .btn-container .btn-cxjl {
    display: none;
}
.part-4 .btn-container.ck .btn-cxjl {
    display: block;
}
.sava-tips-icon {
    margin: .26rem auto 0;
    width: 3.85rem;
    pointer-events: none;
}
.part-4 .zhang-icon {
    top: 4.04rem;
    left: 4.78rem;
    width: 1.64rem;
    height: 1.64rem;
    background-image: url('../images/zhang.png');
}
.poster-wrap .logo-icon {
    margin-top: 3.4rem;
}
.poster-wrap .zhang-icon {
    top: 6.6rem;
}
.poster-wrap .fs-wrap {
    top: 0.57rem;
}
.poster-wrap .btn-clickme {
    top: 13.25rem;
}
/*  */
.btn-scale {
    animation: scaleBtn .6s ease-in infinite alternate;
    -webkit-animation: scaleBtn .6s ease-in infinite alternate;
}
@keyframes scaleBtn {
    to {
        transform: scale(1.1);
    }
}
@-webkit-keyframes scaleBtn {
    to {
        -webkit-transform: scale(1.1);
    }
}
.fy-icon {
    top: 8.9rem;
    left: 0;
    width: 1.59rem;
    height: 1.92rem;
    background-image: url('../images/fy.png');
    pointer-events: none;
    transform-origin: 0% 0%;
    animation: floatFy 1s ease-in-out infinite alternate;
    -webkit-animation: floatFy 1s ease-in-out infinite alternate;
}
.part-4 .fy-icon {
    top: 9.3rem;
}
@keyframes floatFy {
    to {
        transform: translate(.1rem) rotateZ(5deg);
    }
}
@-webkit-keyframes floatFy {
    to {
        -webkit-transform: translate(.1rem) rotateZ(5deg);
    }
}
.yb-icon {
    top: 8.48rem;
    right: 0;
    width: 1.73rem;
    height: 1.35rem;
    background-image: url('../images/yb.png');
    pointer-events: none;
    animation: rotateYb 1s ease-in-out infinite alternate;
    -webkit-animation: rotateYb 1s ease-in-out infinite alternate;
}
.part-2 .yb-icon {
    top: 9rem;
}
.part-4 .yb-icon {
    top: 9.3rem;
}
@keyframes rotateTq {
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotateTq {
    to {
        -webkit-transform: rotate(360deg);
    }
}
.tq-icon {
    top: 3.95rem;
    left: .38rem;
    width: .99rem;
    height: 1rem;
    background-image: url('../images/tq.png');
    /* animation: rotateTq 8s linear infinite;
    -webkit-animation: rotateTq 8s linear infinite; */
}
.part-2 .tq-icon {
    top: 1.4rem;
    left: .2rem;
}
.part-3 .tq-icon,
.part-4 .tq-icon {
    top: 2rem;
    left: 0.3rem;
}
@keyframes rotateYb {
    to {
        transform: rotateX(-20deg) scale(1.1);
    }
}
@-webkit-keyframes rotateYb {
    to {
        -webkit-transform: rotateX(-20deg) scale(1.1);
    }
}
/* pop */
.pop-ticket {
    width: 7.08rem;
    height: 5.22rem;
    background-image: url('../images/pop_ticket.png');
}
.pop-ticket .pop-con {
    padding: 1.86rem .24rem 0 2.68rem;
    box-sizing: border-box;
}
.ticket-wrap {
    display: block;
    margin: 0 auto;
    width: 3.52rem;
    height: .54rem;
    line-height: .54rem;
    background-image: url('../images/ticket_bg.png');
    font-weight: bold;
    font-size: .32rem;
    color: #fff;
}
.btn-copy {
    display: inline-block;
    margin: .2rem auto 0;
    line-height: 1;
    font-weight: bold;
    font-size: .32rem;
    color: #851f1c;
    text-decoration: none;
    background-color: transparent;
    border: none;
}
.ticket-icon {
    margin: .24rem auto 0;
    width: 4.14rem;
}
.btn-qxf {
    margin: .24rem auto 0;
    width: 2.57rem;
    height: .62rem;
    background-position: -2.12rem -1.34rem;
}
.close-btn {
    top: 0.7rem;
    right: 0.26rem;
    width: .57rem;
    height: .52rem;
    background-position: -2.42rem -.5rem;
}
.poster-img {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}
.dom2img-result {
    /* position: relative; */
    /* z-index: 1; */
    opacity: 0;
}