

body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form{margin:0; padding: 0;}
body,button,input,select,textarea{font:14px/1.5 \5FAE\8F6F\96C5\9ED1,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,b,i{font-style:normal;}
a{text-decoration:none;outline:none;}
img{border:0; display: block;}
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0}
td,th,ul,ol,li{padding:0;list-style:none;}
.clearfix:after{content:"\0020";height:0;display:block;clear:both;}
.clearfix{zoom:1;}
.hide{font-size:0;height:0;line-height:0;visibility:hidden;display:none;}
.hh{ overflow:hidden; text-indent:-999em; display:block;}
.pr{position:relative;}
.pa{position: absolute;}
body{padding-top:42px;background:#0e0e0e;color:#fff;min-width:1000px; font-size: 16px; }
/*** footer  **/
#afooter{min-width:1000px; text-align:center; font-size:12px; line-height:20px;color: #6a6a6a;background:#0e0e0e;}
#afooter .copyright span a,#footer .copyright span a:hover{ margin:0 5px;}
#afooter .notice{ display:none;}
#afooter a{ color: #6a6a6a;}
#footer_ieg {
    display: none;
}
.absolute {
    position: absolute;
}
.text-center {
    text-align: center;
}
.bg {
    background-position: top center;
    background-repeat: no-repeat;
}
.icons {
    display: block;
    background-image: url("./ossweb-img/icons.png");
    background-repeat: no-repeat;
    background-size: 510px 451px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.ani {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.full-img img {
    display: block;
    width: 100%;
}
.bold {
    font-weight: bold;
}
.t {
    text-indent: -9999em;
    overflow: hidden;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrap {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: auto;
}
.btn-hover:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

/* 页面css */
.page {
    height: 850px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    zoom: 1;
    min-width: 1200px;
}
.part {
    width: 100%;
    height: 850px;
    overflow: hidden;
    position: absolute;
    top: 850px;
    left: 0;
    z-index: 1;
    background-size: auto 100%;
    background-position: top center;
}
.container {
    width: 1200px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -390px 0 0 -600px;
}
.show {
    top: 0;
    z-index: 3;
}
.logo-icon {
    top: 34px;
    left: 0px;
    z-index: 999;
    width: 195px;
    height: 97px;
    background-image: url("./ossweb-img/logo.png");
}
/* 下载游戏 */
.download-list {
    top: 40px;
    right: 0px;
    z-index: 999;
}
.download-item {
    width: 111px;
    height: 18px;
}
.download-btn {
    background-position: 0 0;
}
.download-btn:hover {
    background-position: 0 -22px;
}
.addgw-btn {
    margin-left: 52px;
    background-position: -116px 0;
}
.addgw-btn:hover {
    background-position: -116px -22px;
}
/* 下载游戏 end */
/* 悬浮导航 */
.float-menu-list {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 999;
    margin-top: -210px;
    width: 236px;
    height: 420px;
}
.float-menu-item {
    padding-top: 18px;
    width: 100%;
    height: 84px;
    box-sizing: border-box;
    border-bottom: 1px dashed #181716;
    cursor: pointer;
    overflow: hidden;
}
.float-menu-item:hover .menu-icon,
.float-menu-item.active .menu-icon {
    background-position: -148px -97px;
    color: #000;
}
.float-menu-item:hover .menu-icon span,
.float-menu-item.active .menu-icon span {
    opacity: 1;
}
.menu-icon {
    padding-left: 35px;
    box-sizing: border-box;
    width: 98px;
    height: 47px;
    background-position: -148px -45px;
    line-height: 47px;
    font-weight: bold;
    font-size: 14px;
    color: #ffe508;
}
.menu-icon span {
    opacity: .3;
}
.menu-title {
    margin-left: 10px;
}
.float-menu-item:hover .menu-title-text,
.float-menu-item:hover .menu-title-sub,
.float-menu-item.active .menu-title-text,
.float-menu-item.active .menu-title-sub {
    color: #fff;
}
.menu-title-text,
.menu-title-sub {
    color: #000;
}
.menu-title-text {
    font-weight: bold;
    line-height: 26px;
    font-size: 18px;
}
.menu-title-sub {
    margin-top: 8px;
    line-height: 1;
    font-size: 12px;
    opacity: .4;
}
/* 悬浮导航 end */
/* 分页按钮 */
.page-btn-wrap {
    bottom: 34px;
    right: 100px;
    z-index: 999;
    width: 70px;
}
.page-btn {
    width: 69px;
    height: 64px;
}
.prev-btn {
    background-position: 0 -45px;
}
.prev-btn:hover {
    background-position: -74px -45px;
}
.next-btn {
    margin-top: 18px;
    background-position: 0 -115px;
}
.next-btn:hover {
    background-position: -74px -115px;
}
.page-btn.off {
    opacity: 0;
    pointer-events: none;
}
/* 分页按钮 end */
/* 分页提示 */
.arrows-tips-wrap {
    bottom: 70px;
    left: 0;
    right: 0;
    z-index: 999;
}
.tips-icon {
    position: relative;
    margin: 0 auto;
    width: 44px;
    height: 54px;
    background-position: -305px -287px;
}
/* 分页提示 end */
.part-1 {
    background-image: url("./ossweb-img/head_bg.jpg");
}
.title-icon {
    margin-top: 111px;
    margin-left: 181px;
    width: 786px;
    height: 326px;
    background-image: url("./ossweb-img/title.png");
}
.person-icon {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 769px;
    background-image: url("./ossweb-img/person_1.png");
}
.time-text {
    margin-bottom: 68px;
    font-size: 16px;
    color: #fff;
}
/* 回归有礼 */
.part-2 {
    background-image: url("./ossweb-img/bg1.jpg");
}
.title-icon1 {
    margin: 0 auto;
    width: 282px;
    height: 63px;
    background-position: 0 -183px;
}
.prize-list {
    margin: 120px auto 0;
    width: 1185px;
}
.prize-item {
    margin-left: 40px;
    width: 205px;
}
.prize-item1 {
    margin-left: 0;
}
.prize-icon {
    width: 205px;
}
.prize-label {
    margin: 34px auto 0;
    padding-left: 34px;
    box-sizing: border-box;
    width: 126px;
    height: 29px;
    background-position: -335px 0;
    line-height: 29px;
    font-size: 16px;
    color: #ffdf09;
}
.get-btn {
    margin: 15px auto 0;
    width: 98px;
    height: 33px;
    background-position: -231px 0;
}