/*reset*/
html,body,div,section,p,ul,li,form,table,td,a,dl,dt,dd,em,i,span,img,input,h1,h2,h3,h4,h5 {margin:0;padding:0;box-sizing: border-box;}
body,html{-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:none; -webkit-user-select:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
ul,li{list-style:none;}
table{border-collapse:collapse;  border-spacing:0;}
a{text-decoration:none;}
input[type="text"], input[type="password"], select { -webkit-appearance: none;appearance:none; outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0); border-radius:0;box-sizing: border-box;}
a:focus,a:active,a{outline:none;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
a{text-decoration:none;blr:expression(this.onFocus=this.blur());outline:none;}
html{-webkit-tap-highlight-color:rgba(0,0,0,0);}
a,button, input{ -webkit-tap-highlight-color: rgba(255,0,0,0); }
em,i,b{font-style: normal;}
fieldset,img{border:0;display:block;}
img{ width: 100%;}
.c:after{content:'\20';display:block;height:0;line-height:0;visibility:hidden;clear:both;}
.hh{display:block;text-indent:-999em;overflow:hidden;}
.hide{width:0;height:0;overflow:hidden;display:none;}
.pr{position: relative;}
.pa{ position: absolute;}
html{font-size:100px;}
body,html{width: 100%;height:auto;}
body{font: .22rem/1.75 -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif; background:#1f272d; font-size:0.24rem; color: #a8b4cc; position: relative; overflow-x: hidden;}
.flex{display: flex;  display: -webkit-box;   display: -webkit-flex;  flex-flow: wrap;  -webkit-flex-flow: wrap;}
/*public*/
.wrap{ width: 100%; height: auto; overflow-x: hidden;}
.icon{ background: url("../ossweb-img/icon.png") no-repeat; background-size: 7rem auto; display: block;}
.head1{ background: url("../ossweb-img/head1.jpg") center top no-repeat; background-size:100% auto; width: 100%; height: 7.18rem;overflow: hidden; }
.head2{ background: url("../ossweb-img/head2.jpg") center top no-repeat; background-size:100% auto; width: 100%; height: 3.97rem; margin-top: -1px;overflow: hidden; }
.main1{ background: url("../ossweb-img/main1.jpg") center top no-repeat; background-size:100% auto; width: 100%; height: 36.94rem; margin-top: -1px;overflow: hidden; }
.main2{ background: url("../ossweb-img/main2.jpg") center top no-repeat; background-size:100% auto; width: 100%; height: 43.04rem; margin-top: -1px;overflow: hidden; }
/*foot*/
#afooter{ text-align:center; font-size:0.2rem; line-height:0.3rem; color: #9e9e9e;background:#0e0e0e; padding: 0.3rem 0;}
#afooter .copyright span a,#footer .copyright span a:hover{ margin:0 0.06rem;}
#gfooter{ background: #0e0e0e;}
.absolute {
    position: absolute;
}
.bg {
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.bg-icon {
    display: block;
    background-image: url("../ossweb-img/icon.png");
    background-size: 7rem 5.46rem;
    background-repeat: no-repeat;
}
.text-center {
    text-align: center;
}
.btn {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.btn-text {
    font-weight: bold;
    color: #fff;
}
.btn-hover,
.btn {
    transition: all .2s;
}
.btn-hover:hover,
.btn:hover {
    transform: scale(.95);
}
.text-overflow {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.logo-icon {
    top: .2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 7.44rem;
    height: .72rem;
    background-image: url("../ossweb-img/logo.png");
}
.video-wrap {
    position: relative;
    margin-top: 4.98rem;
    margin-left: 1.92rem;
    width: 4.02rem;
    height: 1rem;
}
.video-wrap .video-inset {
    top: 0rem;
    left: 1.09rem;
    width: 1.77rem;
    height: 1rem;
    background-image: url("../ossweb-img/video_inset.jpg");
}
.video-wrap .video-bg {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../ossweb-img/video_border.png");
}
.video-wrap .video-btn {
    display: block;
    top: 0;
    left: 1.09rem;
    z-index: 2;
    width: 1.77rem;
    height: 1rem;
}
.video-wrap .video-icon {
    margin-top: .24rem;
    margin-left: .64rem;
    width: 0.49rem;
    height: 0.49rem;
    background-position: -4.42rem 0;
}
.login-box {
    margin-top: .43rem;
}
.login-box .login-text {
    display: inline-block;
    line-height: 1;
    font-size: .24rem;
    color: #fff;
}
/* 标题 */
.main-title {
    margin-left: .18rem;
    width: 7.19rem;
    height: .78rem;
    background-image: url(../ossweb-img/tit.png);
    background-size: 100% auto;
}
.main-description {
    font-size: .24rem;
    line-height: .24rem;
    color: #abaaaa;
    letter-spacing: .02rem;
}
/* 签到抽永久 */
.main-title1 {
    margin-top: .35rem;
    background-position: 0 0;
}
.progress-container,
.progress-content,
.progress-inset {
    background-image: url(../ossweb-img/kedu.png);
    background-size: 100% auto;
}
.progress-container {
    position: relative;
    margin-top: .23rem;
    margin-left: .19rem;
    width: 7.12rem;
    height: .52rem;
    background-position: 0 0;
    overflow: hidden;
}
.progress-content {
    position: relative;
    margin-left: calc(-100% + 0.02rem);
    width: 7.10rem;
    height: .36rem;
    background-position: 0 -.53rem;
}
.progress-inset {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0 -.99rem;
}
.pro-tips-wrap {
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}
.pro-tips-item {
    flex: 1;
    -webkit-flex: 1;
    padding-left: .15rem;
    font-size: .20rem;
    color: #fff;
}
.btn-qd {
    margin-top: .43rem;
    margin-left: 1.7rem;
    width: 4.28rem;
    height: .84rem;
    background-position: 0 0;
}
.btn-qd .btn-text {
    margin-left: .57rem;
    letter-spacing: .57rem;
    font-size: .26rem;
}
/* 擎苍经典典藏系列 */
.main-title2 {
    margin-top: .1rem;
    background-position: 0 -.8rem;
}
.swiper-1 {
    margin: .34rem .16rem 0;
    background-color: #081421;
}
.btn-swi-buy {
    top: 1.53rem;
    left: .24rem;
    z-index: 1;
    width: 2.91rem;
    height: .73rem;
    background-position: 0 -2.6rem;
}
.swiper-description {
    padding: .14rem 0;
    width: 4.98rem;
    justify-content: center;
}
.swiper-description span {
    position: relative;
    width: 1.94rem;
    text-align: center;
    line-height: .37rem;
    font-size: .24rem;
    color: #495462;
}
.swiper-description span.active {
    color: #992929;
}
.swiper-description span:nth-child(odd)::after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    content: "|";
    color: #495462 !important;
}
.swiper-description span:last-child::after {
    content: " ";
}
.navigation-wrap {
    margin-top: .26rem;
    width: 1.95rem;
    height: .92rem;
}
.navigation-prev,
.navigation-next {
    width: .96rem;
    height: .92rem;
    transition: all 0s;
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
}
.navigation-prev {
    background-position: -5.05rem 0;
}
.navigation-prev:active {
    background-position: -5.05rem -1.01rem;
}
.navigation-next {
    margin-left: .03rem;
    background-position: -6.04rem 0;
}
.navigation-next:active {
    background-position: -6.04rem -1.01rem;
}
/* 毁灭主题周边 */
.main-title3 {
    margin-top: .72rem;
    background-position: 0 -1.6rem;
}
.goods-container {
    margin: .47rem .18rem 0;
    justify-content: space-between;
}
.goods-item {
    position: relative;
    margin-bottom: .3rem;
    width: 3.4rem;
}
.goods-item a {
    display: block;
}
.goods-item::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../ossweb-img/goods_border.png");
    background-size: 3.39rem 3.39rem;
    background-position: top center;
    background-repeat: no-repeat;
    pointer-events: none;
}
.goods-item:active::after {
    background-image: url("../ossweb-img/goods_border_active.png");
}
.goods-img {
    display: block;
    width: 3.39rem;
    height: 2.8rem;
    object-fit: cover;
}
.goods-name {
    top: 2.47rem;
    left: 0;
    padding: 0 .12rem;
    width: 100%;
    overflow: hidden;
}
.goods-name p {
    line-height: .3rem;
    font-size: .24rem;
    color: #000;
}
.goods-msg-wrap {
    height: .59rem;
    background-color: #151515;
}
.goods-price {
    flex: 1;
    -webkit-flex: 1;
    padding-left: .1rem;
    overflow: hidden;
}
.goods-price p {
    font-size: .24rem;
    line-height: .56rem;
    color: #992929;
}
.btn-goods-buy {
    margin: .07rem .06rem 0 0;
    width: 1.37rem;
    height: .42rem;
    background-position: -3.37rem -1rem;
}
/* 灵狐者手办 */
.main-title4 {
    margin-top: .51rem;
    background-position: 0 -2.4rem;
}
.lh-container {
    margin: .5rem .18rem 0;
}
.lh-left {
    position: relative;
    width: 3.68rem;
    height: 6.34rem;
    background-image: url("../ossweb-img/linghu.jpg");
    background-size: 11.04rem 12.68rem;
    background-repeat: no-repeat;
}
.lh-left-1 {
    background-position: 0 0;
}
.lh-left-2 {
    background-position: -3.68rem 0;
}
.lh-left-3 {
    background-position: -7.36rem 0;
}
.lh-left-4 {
    background-position: 0 -6.34rem;
}
.lh-left-5 {
    background-position: -3.68rem -6.34rem;
}
.lh-msg-wrap {
    bottom: .18rem;
    left: 0;
    z-index: 1;
    padding: 0 .2rem;
    width: 100%;
}
.lg-price {
    margin-bottom: .14rem;
    line-height: .24rem;
    font-size: .24rem;
    font-weight: bold;
    color: #992929;
}
.btn-lh-buy {
    width: 3.27rem;
    height: .83rem;
    background-position: 0 -.88rem;
}
.btn-lh-buy .btn-text {
    font-size: .26rem;
    letter-spacing: .04rem;
}
.lh-right {
    margin-left: .16rem;
    width: 3.3rem;
}
.lh-award-title {
    margin-top: .27rem;
    margin-bottom: .14rem;
    font-weight: bold;
    line-height: .24rem;
    font-size: .24rem;
    color: #fff;
}
.lh-award-msg {
    font-size: .23rem;
    line-height: .3rem;
    color: #819eea;
}
.lottery-btn-wrap {
    margin-top: .35rem;
    justify-content: center;
}
.lottery-tips-wrap {
    font-size: .24rem;
    line-height: .32rem;
    color: #fff;
}
.btn-lh-lottery {
    margin-left: .32rem;
    width: 1.27rem;
    height: .32rem;
    background-position: -3.36rem -1.47rem;
}
.btn-lh-lottery .btn-text {
    font-size: .2rem;
}
.lh-list {
    margin: .16rem .18rem 0;
}
.lh-item {
    position: relative;
    margin-right: .1rem;
    width: 1.71rem;
    height: 1.08rem;
    background-image: url("../ossweb-img/lh_list.png");
    background-size: 7.17rem 1.08rem;
    background-repeat: no-repeat;
}
.lh-item:nth-child(1) {
    background-position: 0 0;
}
.lh-item:nth-child(2) {
    background-position: -1.82rem 0;
}
.lh-item:nth-child(3) {
    background-position: -3.64rem 0;
}
.lh-item:nth-child(4) {
    background-position: -5.46rem 0;
}
.lh-item:last-child {
    margin-right: 0;
}
.lh-item-name {
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: .33rem;
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
    font-size: .22rem;
    color: #abaaaa;
}
/* 毁灭大礼包 */
.main-title5 {
    margin-top: .73rem;
    background-position: 0 -3.2rem;
}
.giftbag-wrap {
    margin: .27rem .16rem 0 .17rem ;
    height: 3.46rem;
    background-image: url("../ossweb-img/gift_bag.jpg");
    overflow: hidden;
}
.giftbag-list {
    margin: 1.54rem auto 0;
    width: 7.13rem;
}
.giftbag-item {
    line-height: .22rem;
    font-size: .22rem;
    color: #abaaaa;
}
.giftbag-item:nth-child(1) {
    width: 2.4rem;
}
.giftbag-item:nth-child(2) {
    width: 2.5rem;
}
.giftbag-item:nth-child(3) {
    flex: 1;
    -webkit-flex: 1;
    padding-left: .2rem;
}
.btn-giftbag-qm {
    margin: .26rem auto 0;
    width: 3.27rem;
    height: .83rem;
    background-position: 0 -.88rem;
}
.btn-giftbag-qm .btn-text {
    font-size: .26rem;
}
.giftbag-tips-text {
    margin-top: .11rem;
    line-height: .24rem;
    font-size: .24rem;
    color: #abaaaa;
}
.mobile-game-wrap {
    margin-top: .26rem;
    justify-content: center;
}
.mobile-game-icon {
    width: 1.95rem;
    height: .53rem;
    background-position: -2.53rem -3.42rem;
}
.mobile-game-text {
    margin-left: .26rem;
    line-height: .53rem;
    font-size: .24rem;
    color: #abaaaa;
}
.mobile-game-text a {
    color: #8dacff;
}
/* 毁灭大转盘 */
.main-title6 {
    margin-top: .17rem;
    background-position: 0 -4rem;
}
.dy-state {
    display: none;
}
.lottery-container {
    position: relative;
    margin: .3rem .18rem 0 .19rem;
    width: 7.15rem;
    height: 9.4rem;
}
.lottery-wrap {
    top: 0;
    left: 0;
    z-index: 1;
    width: 7.15rem;
    height: 9.4rem;
}
.lottery-btn-wrap2 {
    margin-top: .3rem;
}
.lottery-title {
    margin-top: .32rem;
    font-size: .3rem;
    line-height: .3rem;
    font-weight: bold;
    color: #fff;
}
.lottery-msg-wrap {
    top: 6.02rem;
}
.lotterycontent_hover {
    background-size: 1.71rem 1.43rem !important;
}
.lottery-btn-left {
    width: 4.46rem;
}
.btn-lottery-start {
    width: 4.46rem;
    height: 1.43rem;
    background-position: 0 -4.04rem;
}
.btn-lottery-start .btn-text {
    font-size: .36rem;
}
.lottery-tips-text1,
.lottery-tips-text2 {
    margin-top: .14rem;
    display: inline-block;
    line-height: .3rem;
    font-size: .24rem;
}
.lottery-tips-text1 {
    width: 4.46rem;
    color: #819eea;
}
.lottery-btn-right {
    margin-left: .29rem;
    width: 2.4rem;
}
.btn-lottery-record {
    width: 2.4rem;
    height: .6rem;
    background-position: 0 -3.37rem;
}
.btn-lottery-record .btn-text {
    font-size: .24rem;
}
.lottery-btn-right .btn-lottery-record:nth-child(2) {
    margin-top: .21rem;
}
.lottery-tips-text2 {
    color: #abaaaa;
    text-align: justify;
}
/* 擎苍枪模 收藏有礼 */
.main-title7 {
    margin-top: .66rem;
    background-position: 0 -4.8rem;
}
.collect-container {
    margin: .18rem .17rem 0;
    height: 3.83rem;
    background-image: url("../ossweb-img/qcqm.jpg");
    overflow: hidden;
}
.btn-theme {
    margin-top: 1.49rem;
    margin-left: 2.1rem;
    width: 2.97rem;
    height: .78rem;
    background-position: 0 -1.77rem;
}
/* 评论有奖 */
.main-title8 {
    margin-top: .84rem;
    background-position: 0 -5.6rem;
}
.comment-container {
    margin: .24rem .17rem 0;
    height: 4.41rem;
    background-image: url("../ossweb-img/comment_bg.jpg");
    overflow: hidden;
}
.comment-title-text {
    margin-top: 3.16rem;
    font-size: .26rem;
    line-height: .26rem;
    font-weight: bold;
    color: #fff;
}
.comment-description-text {
    margin: .2rem .2rem 0;
    font-size: .23rem;
    line-height: .28rem;
    color: #abaaaa;
}
.comment-description-text span {
    color: #819eea;
}
/* 活动规则 */
.main-title9 {
    margin-top: .91rem;
    background-position: 0 -6.4rem;
}
.rule-list {
    margin: .37rem .48rem 0 .6rem;
    padding: 0;
}
.rule-list,
.rule-item {
    list-style: decimal;
}
.rule-item {
    margin-bottom: .38rem;
    font-size: .24rem;
    line-height: .35rem;
    color: #abaaaa;
    text-align: justify;
}
.rule-item span {
    color: #8dacff;
}
/*pop*/
.pop{position:fixed;top: 0;left: 0;font-size:0.2rem;color:#fff;
    width: 6.4rem;border-radius: 0.18rem; text-align: center; display:none; margin: 0 auto 0.2rem;outline: none; }
.pop-con{padding:0.2rem 0.3rem; }
.dia-con {width: 100%;}
.pop-video {
    width: 100%;
}
.pop-con {
    position: revert;
    background-image: url("../ossweb-img/pop_middle.png");
    background-size: 100% auto;
    background-repeat: revert;
    overflow: hidden;
}
.scale-pop {
    -webkit-animation: scale .4s ease-out;
    animation: scale .4s ease-out;
}
@keyframes scale {
    from {transform: scale(.4);}
}
@-webkit-keyframes scale {
    from {-webkit-transform: scale(.4);}
}
.video-close,
.pop-close {
    display: block;
    width: .5rem;
    height: .5rem;
    background-image: url("../ossweb-img/close.png");
}
.video-close {
    position: fixed;
    top: .1rem;
    right: .1rem;
}
.pop-close {
    top: -.7rem;
    right: 0;
}
.select-tips1-text {
    font-size: .2rem;
    color: #abaaaa;
}
.select-tips2-text {
    margin-top: .1rem;
    font-size: .26rem;
    font-weight: bold;
    color: #fff;
}
.select-logo {
    display: block;
    margin: .3rem auto 0;
    width: 5rem;
}
.select-left,
.select-right {
    flex: 1;
    -webkit-flex: 1;
}
.select-left {
    margin-right: .3rem;
}
.btn-select-dy,
.btn-select-sy {
    margin: .3rem auto 0;
    width: 2.4rem;
    height: .68rem;
}
.btn-select-dy {
    background-position: -3.07rem -2.69rem;
}
.btn-select-sy {
    background-position: -3.07rem -1.97rem;
}
.select-btn-container .select-tips1-text {
    margin-top: .1rem;
}
.select-btn-container .select-tips1-text .red-text {
    color: #db0000;
}