/*reset*/
@font-face {
    font-family: 'hyzy';
    src: url('./hanyizhongyuan.ttf');
}
html,body,div,section,p,ul,li,form,table,td,a,dl,dt,dd,em,i,span,img,input,h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    /* -webkit-user-select:none;*/
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}
ul,li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
input[type="text"],input[type="password"],select {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    box-sizing: border-box;
}
a:focus,a:active,a {
    outline: none;
}
input,textarea,select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
a {
    text-decoration: none;
    blr: expression(this.onFocus=this.blur());
    outline: none;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a,button,input {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
em,i,b {
    font-style: normal;
}
fieldset,img {
    border: 0;
    display: block;
}
img {
    width: 100%;
}
.c:after {
    content: '\20';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
.hh {
    display: block;
    text-indent: -999em;
    overflow: hidden;
}
.hide {
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
}
.p-r {
    position: relative;
}
.p-a {
    position: absolute;
}
html {
    font-size: 100px;
}
body,html {
    width: 100%;
    height: 100%;
}
body {
    font: .22rem/1.75 -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #1f272d;
    font-size: 0.24rem;
    color: #a8b4cc;
    position: relative;
    overflow-x: hidden;
}
.flex {
    display: flex;
    display: -webkit-flex;
}
.flex-1 {
    flex: 1;
    -webkit-flex: 1;
}
.flex-center {
    justify-content: center;
    -webkit-justify-content: center;
}
.flex-middle {
    align-items: center;
}
.flex-between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
/*foot*/
#afooter {
    text-align: center;
    font-size: 0.2rem;
    line-height: 0.3rem;
    color: #9e9e9e;
    background: #0e0e0e;
    padding: 0.3rem 0;
}
#afooter .copyright span a,
#footer .copyright span a:hover {
    margin: 0 0.06rem;
}
#gfooter {
    background: #0e0e0e;
}
#afooter p {
    line-height: .3rem;
    font-size: .16rem;
}
.stage {
    width: 100%;
    overflow: hidden;
}
.t-c {
    text-align: center;
}
.t-r {
    text-align: right;
}
.t-hide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bg {
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}
.t {
    text-indent: -999em;
    overflow: hidden;
}
.icons {
    display: block;
    background-image: url("icons.png");
    background-repeat: no-repeat;
    background-size: 7.5rem auto;
}
.f-l {
    float: left;
}
.f-r {
    float: right;
}
a {
    cursor: pointer;
}
.ani {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.full-img img,
.full-img {
    display: block;
}
.full-img img {
    width: 100%;
}
.b {
    font-weight: bold;
}
.t-h {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-hover:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}
.btn-hover:active {
    transform: scale(.95);
    -webkit-transform: scale(.95);
}
.stage {
    width: 100%;
    height: 100%;
}
.part {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.wrap {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 11.7rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
/* ÆÁ1 Ê×ÆÁ */
.part-1 {
    background-image: url('./p1_bg.jpg');
}
.part-1.load-status .rule-btn,
.part-1.load-status .tips-btn-icon,
.part-1.load-status .start-test-btn,
.part-1.load-status .order-btn {
    display: none;
}
.part-1.load-status .progress-container {
    display: block;
}
.progress-container {
    display: none;
    bottom: 1.6rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 5.75rem;
    height: .48rem;
    background-image: url('./progress_bg.png');
}
.progress-wrap {
    margin-top: .03rem;
    margin-left: .06rem;
    height: .42rem;
    overflow: hidden;
    transition: .3s all;
    -webkit-transition: .3s all;
}
.progress-content {
    width: 5.61rem;
    height: .42rem;
    background-image: url('./progress.png');
}
.progress-text {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    line-height: .48rem;
    font-weight: bold;
    font-size: .25rem;
    color: #ca426d;
}
.part-1 .logo-icon {
    margin: .52rem auto 0;
    width: 2.44rem;
    height: .98rem;
}
.slogan-icon {
    margin: -.32rem auto 0;
    width: 6.89rem;
    height: 2.36rem;
}
.rule-btn {
    top: .38rem;
    left: .26rem;
    width: .73rem;
    height: .73rem;
    background-position: -3.84rem -.44rem;
}
.music-btn {
    top: .38rem;
    right: .26rem;
    width: .73rem;
    height: .73rem;
    background-position: -4.62rem -.44rem;
    animation: music 4s linear infinite;
    -webkit-animation: music 4s linear infinite;
}
.music-btn.off {
    animation: none;
    -webkit-animation: none;
    background-position: -5.4rem -.44rem;
}
@keyframes music {
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes music {
    to {
        -webkit-transform: rotate(360deg);
    }
}
.tips-btn-icon {
    margin: 4.74rem auto 0;
    width: 3.54rem;
    height: .39rem;
    background-position: -3.84rem 0;
}
.start-test-btn,
.order-btn {
    margin: .22rem auto 0;
    width: 3.79rem;
    height: 1.03rem;
}
.start-test-btn {
    background-position: 0 0;
}
.order-btn {
    background-position: 0 -1.08rem;
}
/* ÆÁ2 ´ðÌâ */
.part-2 {
    background-image: url('./p2_bg.jpg');
}
.part-2 .logo-icon {
    margin: .26rem 0 0 .32rem;
    width: 2.44rem;
    height: .98rem;
}
.answer-progress {
    top: 1.46rem;
    left: .78rem;
    width: .56rem;
}
.answer-progress p {
    line-height: 1;
    font-size: .44rem;
    color: #fff;
}
.answer-progress p:last-child {
    margin-top: -.16rem;
}
.answer-list {
    z-index: 1;
    margin: 1.1rem auto 0;
    width: 5.99rem;
    height: 7.37rem;
}
.answer-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./answer_bg.png');
    overflow: hidden;
    transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
    transform: translate(-7rem, 10rem) rotate(-40deg);
    -webkit-transform: translate(-7rem, 10rem) rotate(-40deg);
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
}
.answer-list .answer-item:first-child {
    transform: translate(0, 0) rotate(0deg);
    -webkit-transform: translate(0, 0) rotate(0deg);
}
/* .answer-item.off {
    animation: answerMove1 1s ease forwards;
}

@keyframes answerMove1 {
    to {
    }
}
.answer-item.on {
    display: block;
    animation: answerMove2 1s ease forwards;
}
@keyframes answerMove2 {
    to {
        transform: translate(0, 0) rotate(0deg);
        -webkit-transform: translate(0, 0) rotate(0deg);
    }
} */
.answer-title-icon {
    margin: .52rem auto 0;
    width: 5.16rem;
    height: 2.1rem;
}
.select-list {
    margin: .38rem auto 0;
    padding-top: .22rem;
    border-top: .01rem dashed #7996db;
    width: 4.8rem;
}
.select-item {
    margin-bottom: .14rem;
    padding-left: .34rem;
    width: 4.9rem;
    border-radius: .15rem;
}
.select-item,
.select-img {
    /* transition: .2s all;
    -webkit-transition: .2s all; */
}
.select-list-img {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.select-list-img .select-item {
    margin: 0 .09rem .28rem;
    padding: 0;
    width: auto;
}
.select-num-text {
    line-height: .73rem;
    font-size: .28rem;
    color: #5c7bca;
}
.select-list-img .select-item .select-num-text {
    line-height: 1;
}
.select-img {
    margin-left: .02rem;
    width: 1.65rem;
    border-radius: .15rem;
}
.select-list .select-item.active,
.select-list-img .select-item.active .select-img {
    background-color: #d6ebff;
}
.select-list-img .select-item.active {
    background-color: transparent;
}
.clip-icon {
    top: 2.5rem;
    right: .54rem;
    z-index: 2;
    width: .77rem;
    height: .77rem;
    background-image: url('./clip.png');
    pointer-events: none;
}
.answer-tips-wrap {
    z-index: 2;
    margin-top: .32rem;
}
.answer-tips-wrap p {
    margin: 0 .08rem;
    line-height: 1;
    font-size: .2rem;
    color: #8f92eb;
}
.answer-tips-wrap .tips-icon-1,
.answer-tips-wrap .tips-icon-2 {
    width: .08rem;
    height: .1rem;
}
.answer-tips-wrap .tips-icon-1 {
    background-position: -2.8rem -2.16rem;
}
.answer-tips-wrap .tips-icon-2 {
    background-position: -2.91rem -2.16rem;
}
.answer-btn-container {
    z-index: 2;
    margin-top: .34rem;
}
.answer-btn-container .prev-btn,
.answer-btn-container .next-btn,
.answer-btn-container .look-result-btn {
    margin: 0 .2rem; 
    width: 2.75rem;
    height: .75rem;
}
.answer-btn-container .prev-btn {
    background-position: 0 -2.16rem;
}
.answer-btn-container .next-btn {
    background-position: 0 -2.96rem;
}
.answer-btn-container .look-result-btn  {
    background-position: 0 -3.76rem;
}