/*reset*/
html,
body,
div,
section,
p,
ul,
li,
form,
table,
td,
a,
dl,
dt,
dd,
em,
i,
span,
img,
input,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

ul,
li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

input[type="text"],
input[type="password"],
select {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    box-sizing: border-box;
}

a:focus,
a:active,
a {
    outline: none;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    blr: expression(this.onFocus=this.blur());
    outline: none;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button,
input {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

em,
i,
b {
    font-style: normal;
}

fieldset,
img {
    border: 0;
    display: block;
}

img {
    width: 100%;
}

.c:after {
    content: '\20';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.hh {
    display: block;
    text-indent: -999em;
    overflow: hidden;
}

.hide {
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

html {
    font-size: 100px;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font: .22rem/1.75 -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #1f272d;
    font-size: 0.24rem;
    color: #a8b4cc;
    position: relative;
    overflow-x: hidden;
}

.flex {
    display: flex;
    display: -webkit-flex;
}

.flex-1 {
    flex: 1;
    -webkit-flex: 1;
}

.flex-center {
    justify-content: center;
    -webkit-justify-content: center;
}

.flex-middle {
    align-items: center;
}

/*foot*/
#afooter {
    text-align: center;
    font-size: 0.2rem;
    line-height: 0.3rem;
    color: #9e9e9e;
    background: #0e0e0e;
    padding: 0.3rem 0;
}

#afooter .copyright span a,
#footer .copyright span a:hover {
    margin: 0 0.06rem;
}

#gfooter {
    background: #0e0e0e;
}

#afooter p {
    line-height: .3rem;
    font-size: .16rem;
}

#stage {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.stage h1,
.stage h2,
.stage h3,
.stage p,
.stage span,
.stage div {
    line-height: 1;
}

.t-c {
    text-align: center;
}

.t-r {
    text-align: right;
}

.bg {
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}

.t {
    text-indent: -999em;
    overflow: hidden;
}

.icons {
    display: block;
    background-image: url("ossweb-img/icons.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

a {
    cursor: pointer;
}

.ani {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.full-img,
.full-img img {
    display: block;
}

.full-img img {
    width: 100%;
}

.b {
    font-weight: bold;
}

.t-h {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrap {
    position: relative;
    margin: 0 auto;
    height: auto;
}

.btn-hover:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.answer-container,
.answer-container .swiper-slide {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center;
}

.answer-container .swiper-slide .wrap {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
    height: 12rem;
}

.logo-wrap {
    margin-top: .16rem;
    margin-left: .28rem;
    width: 1.62rem;
}

.voice-container {
    margin-top: .1rem;
    margin-right: .62rem;
    margin-bottom: .48rem;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.voice-bubble {
    width: 2.32rem;
    height: .52rem;
    background-image: url('./ossweb-img/voice_icon.png');
}

.voice-bo {
    display: block;
    top: .14rem;
    right: .28rem;
    width: .18rem;
    height: .23rem;
    background-image: url('./ossweb-img/voice_icon3.png');
}

.voice-container.play .voice-bubble .voice-bo,
.voice-container.play .voice-icon {
    animation: fadeInOut 1s linear infinite alternate;
    -webkit-animation: fadeInOut 1s linear infinite alternate;
}

.voice-container.active .voice-bubble {
    display: none;
}

.voice-text {
    display: none;
    margin-left: .6rem;
    font-weight: bold;
    font-size: .24rem;
    color: #d76532;
}

.voice-icon {
    display: none;
    margin-bottom: .5rem;
    margin-left: .2rem;
    width: .31rem;
    height: .38rem;
    background-image: url('./ossweb-img/voice_icon2.png');
}

.voice-container.active .voice-text,
.voice-container.active .voice-icon {
    display: block;
}

.voice-avatar {
    margin-left: .22rem;
    width: 1.13rem;
    height: 1.14rem;
    background-image: url('./ossweb-img/voice_head.png');
}

.title-text {
    position: relative;
    margin: .3rem .3rem 0 .6rem;
    line-height: .48rem;
    font-size: .38rem;
    color: #1a488c;
}

.title-text span {
    color: #d76532;
}


.title-text::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./ossweb-img/mask.png');
    pointer-events: none;
}

.topic-list {
    margin: .27rem auto 0;
    width: 5.1rem;
}

.topic-list .topic-item {
    margin-bottom: .15rem;
    padding: .1rem .66rem;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(205, 190, 167, .8);
    border-radius: 0.2rem;
    line-height: 0.5rem;
    font-weight: bold;
    font-size: .34rem;
    color: #01439d;
}

.topic-list .topic-item:nth-child(1) {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

.topic-list .topic-item:nth-child(2) {
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
}

.topic-list .topic-item:nth-child(3) {
    animation-delay: .8s;
    -webkit-animation-delay: .8s;
}

.topic-list .topic-item:nth-child(4) {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.topic-list .topic-item.active {
    color: #fd5603;
}

.topic-list .topic-item.current {
    background-color: rgba(209, 163, 76, .59);
    color: #fd5603;
}

.topic-list .topic-item.fail {
    background-color: rgba(150, 152, 152, .59);
    color: #4f5051;
}

.topic-list .topic-item::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -.07rem;
    box-sizing: border-box;
    left: .3rem;
    width: .14rem;
    height: .14rem;
    border-radius: 99px;
    border: 1px solid #01439d;
}

.topic-list .topic-item.active::before,
.topic-list .topic-item.current::before {
    border-color: #fd5603;
}

.topic-list .topic-item.fail::before {
    border-color: #4f5051;
}

.topic-list .topic-item.current::after,
.topic-list .topic-item.fail::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: .2rem;
    margin-top: -.15rem;
    height: .29rem;
    background-size: 100% auto;
}

.topic-list .topic-item.current::after {
    width: .38rem;
    background-image: url('./ossweb-img/gou.png');
}

.topic-list .topic-item.fail::after {
    margin-right: 0.1rem;
    width: .27rem;
    background-image: url('./ossweb-img/cha.png');
}

.next-topic-btn {
    position: relative;
    z-index: 1;
    display: none;
    margin-top: .6rem;
    margin-left: 4.96rem;
    width: 1.98rem;
    height: .58rem;
    background-image: url('./ossweb-img/btn.png');
}

.down-wrap {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center center;
    -webkit-animation: pullUp 1s ease both;
    animation: pullUp 1s ease both;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}

.person-wrap {
    top: 5.32rem;
    left: 1.56rem;
    width: 4.08rem;
    -webkit-transform-origin: 10% 70%;
    transform-origin: 10% 70%;
}

.person-wrap2 {
    top: 5.4rem;
    right: 0.24rem;
    width: 5.84rem;
    -webkit-animation-delay: .8s !important;
    animation-delay: .8s !important;
}

.person-wrap3 {
    top: 6.4rem;
    right: .22rem;
    width: 6.44rem;
    -webkit-animation-delay: .8s !important;
    animation-delay: .8s !important;
}

.person-wrap4 {
    top: 3.74rem;
    left: 2.2rem;
    width: 4.7rem;
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
}

.person-wrap5 {
    top: 5.4rem;
    left: .66rem;
    width: 2.91rem;
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
}

.person-wrap6 {
    top: 5.74rem;
    left: 1.22rem;
    width: 5.29rem;
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
}

.person-wrap7 {
    top: 5.6rem;
    left: 1.1rem;
    width: 4.28rem;
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
}

.person-wrap8 {
    top: 5.7rem;
    left: .18rem;
    width: 5.45rem;
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
}

.person-wrap9 {
    top: 6.1rem;
    left: .95rem;
    width: 4.68rem;
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
}

.person-wrap10 {
    top: 5.02rem;
    left: .26rem;
    width: 4.91rem;
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
    -webkit-transform-origin: 40% 75%;
    transform-origin: 40% 75%;
}

.speak-icon {
    top: 6rem;
    left: 3.88rem;
    width: .68rem;
    -webkit-animation: speakIn 1s linear infinite;
    animation: speakIn 1s linear infinite;
    overflow: hidden;
}

.tras-1 {
    -webkit-transition: all .6s;
    transition: all .6s;
}

.swiper-slide-active .scaleIn {
    -webkit-animation: bounceIn .6s ease both;
    animation: bounceIn .6s ease both;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.swiper-slide .moveUp {
    -webkit-transform: translateY(2rem);
    transform: translateY(2rem);
    opacity: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
}

.swiper-slide-active .moveDownRight {
    -webkit-animation: moveDownRight .6s ease both;
    animation: moveDownRight .6s ease both;
}

@keyframes moveDownRight {
    0% {
        opacity: 0;
        transform: translate(-50%, -10%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@-webkit-keyframes moveDownRight {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -10%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
}

.swiper-slide-active .moveLeft {
    -webkit-animation: moveLeft .6s ease both;
    animation: moveLeft .6s ease both;
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes moveLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}


.swiper-slide-active .moveUp {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.swiper-slide-active .moveUp h1 {
    -webkit-animation: upIn .6s ease both;
    animation: upIn .6s ease both;
}

.swiper-slide-active .moveLeft {
    -webkit-animation: moveLeft .6s ease both;
    animation: moveLeft .6s ease both;
}

.swiper-slide .delay-1 {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
}

.swiper-slide .delay-2 {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

.swiper-slide .delay-3 {
    animation-delay: .6s;
    -webkit-animation-delay: .6s;
}

.swiper-slide .delay-4 {
    animation-delay: .8s;
    -webkit-animation-delay: .8s;
}

.swiper-slide .delay-5 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

@keyframes speakIn {

    0%,
    33%,
    100% {
        height: 0;
    }

    33.33% {
        height: .35rem;
    }

    66.66% {
        height: auto;
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@-webkit-keyframes moveLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes upIn {
    0% {
        -webkit-transform: translate3d(0, 100%, 0) scale3d(0, 0, 1);
    }

    60% {
        -webkit-transform: translate3d(0, 0, 0) scale3d(1.1, 1.1, 1);
    }

    75% {
        -webkit-transform: scale3d(.94, 0.94, 1);
    }

    95% {
        -webkit-transform: scale3d(.98, .98, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeInOut {
    to {
        opacity: .1;
    }
}

@-webkit-keyframes fadeInOut {
    to {
        opacity: .1;
    }
}

@keyframes pullUp {
    0% {
        transform: scaleY(0.1);
    }

    40% {
        transform: scaleY(1.02);
    }

    60% {
        transform: scaleY(0.98);
    }

    80% {
        transform: scaleY(1.01);
    }

    100% {
        transform: scaleY(0.98);
    }

    80% {
        transform: scaleY(1.01);
    }

    100% {
        transform: scaleY(1);
    }
}