body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form{margin:0; padding: 0;}
body,button,input,select,textarea{font:14px/1.5 \5FAE\8F6F\96C5\9ED1,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,b,i{font-style:normal;}
a{text-decoration:none;outline:none;}
img{border:0; display: block;}
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0}
td,th,ul,ol,li,span{padding:0;list-style:none;}
.c:after{content:"\0020";height:0;display:block;clear:both;}
.c{zoom:1;}
.hide{font-size:0;height:0;line-height:0;visibility:hidden;display:none;}
.hh{ overflow:hidden; text-indent:-999em; display:block;}
/*public*/
.ost_box{min-width: 1200px;}
html,body {position: relative;min-width: 1200px;}
body{padding-top:42px;background:#0e0e0e;color:#fff;font-size: 16px; }
.mid{ width: 1200px; margin:0 auto; font-family:'\5FAE\8F6F\96C5\9ED1'; text-align: center;}
.head-a a:hover,.box .lqjl-btn:hover{filter: brightness(1.1);-webkit-filter: brightness(1.1);}
/*** footer  **/
#afooter{min-width:1200px; text-align:center; font-size:12px; line-height:20px;padding: 20px 0; color: #6a6a6a;background:#0e0e0e;}
#afooter .copyright span a,#footer .copyright span a:hover{ margin:0 5px;}
#afooter .notice{ display:none;}
#afooter a{ color: #6a6a6a;}
#afooter p {line-height: 20px;}
#stage h1,#stage h2,#stage h3,#stage p,#stage span {line-height: 1;}
#stage {
    margin-top: 87px;
    min-width: 1200px;
    overflow: hidden;
}
.p-a {
    position: absolute;
}
.p-r {
    position: relative;
}
.t-c {
    text-align: center;
}
.t-r {
    text-align: right;
}
.bg {
    background-position: top center;
    background-repeat: no-repeat;
}
.t {
    text-indent: -999em;
    overflow: hidden;
}
.icons {
    display: block;
    background-image: url("//game.gtimg.cn/images/cfm/cp/a20200225march/icons.png");
    background-repeat: no-repeat;
    background-size: 432px auto;
}
.f-l {
    float: left;
}
.f-r {
    float: right;
}
.ani {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.full-img img {
    display: block;
    width: 100%;
}
.bold {
    font-weight: bold;
}
.t-of {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrap {
    position: relative;
    margin: 0 auto;
    width: 1195px;
    height: auto;
}
.btn-hover:hover {
    cursor: pointer;
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}
/* topnav */
.top-nav {
    width: 100%;
    height: 87px;
    text-align: left;
    position: absolute;
    background-color: #232323;
    min-width: 1200px;
    z-index: 100;
    left: 0;
    top:41px;}
.topbox {
    width: 1200px;
    margin: 0 auto;
    position: relative; }
.top-nav .logobox {
    width: 310px;
    line-height: 1.6;
    float: left;
    padding-top: 14px;
    background: url(//game.gtimg.cn/images/cfm/web201606/top-sp.png) 0 75px no-repeat;
    height: 105px; }
.top-nav .logo {
    float: left;
    padding: 0 18px 0 28px; }
.top-nav .logobox strong {
    display: block;
    padding-top: 3px;
    font-size: 16px;
    font-weight: 700;
    color: #fff; }
.top-nav .txt {
    font-size: 12px;
    color: #5c5c5c;
	}
em{font-style:normal;}
.top-nav .navlist {
    position: absolute;
    top: 0;
    right: 0; }
.top-nav .item {
    width: 169px;
    float: right; }
.gamedown {
    background:url(//game.gtimg.cn/images/cfm/cp/a20180130juntuan/btn1.png) no-repeat;
    width:169px;
    height:51px;
    display:block;
    margin-top:16px;}
.nav_box{position:fixed;height:800px;top:50%;margin-top:-400px;right:84px;z-index:2;}
.nav_box:after{content:'';height:679px;right:0;width:6px;position:absolute;z-index:1;background:url(//game.gtimg.cn/images/cfm/cp/a20191226ver/rbg.png) no-repeat;top:62px;}
.nav_box p{height:100px;line-height:100px;color:#837fbf;font-size:24px;padding-right:30px;text-align:right;position:relative;cursor:pointer;z-index:2;transition:all .2s;}
.nav_box p.on{color:#ffe89c;font-size:30px;font-weight:500;}
.nav_box p:after{position:absolute;content:'';width:19px;height:12px;right:-2px;top:50%;margin-top:-6px;background:url(//game.gtimg.cn/images/cfm/cp/a20191226ver/navbg.png) no-repeat;transition:all .2s;}
.nav_box p.on:after{background-position:center bottom;}
/* 动画 */
.sl-1 .dl-1 {
    -webkit-animation-delay: .1s !important;
    -moz-animation-delay: .1s !important;
    -ms-animation-delay: .1s !important;
    -o-animation-delay: .1s !important;
    animation-delay: .1s !important;
}
.sl-1 .dl-2 {
    -webkit-animation-delay: .2s !important;
    -moz-animation-delay: .2s !important;
    -ms-animation-delay: .2s !important;
    -o-animation-delay: .2s !important;
    animation-delay: .2s !important;
}
.sl-1 .dl-3 {
    -webkit-animation-delay: .3s !important;
    -moz-animation-delay: .3s !important;
    -ms-animation-delay: .3s !important;
    -o-animation-delay: .3s !important;
    animation-delay: .3s !important;
}
.sl-1 .dl-4 {
    -webkit-animation-delay: .4s !important;
    -moz-animation-delay: .4s !important;
    -ms-animation-delay: .4s !important;
    -o-animation-delay: .4s !important;
    animation-delay: .4s !important;
}
.sl-1 .dl-5 {
    -webkit-animation-delay: .5s !important;
    -moz-animation-delay: .5s !important;
    -ms-animation-delay: .5s !important;
    -o-animation-delay: .5s !important;
    animation-delay: .5s !important;
}
.sl-1.swiper-slide-active .tit {
    -webkit-animation: fadeInDown 1s ease both;
    -moz-animation: fadeInDown 1s ease both;
    -ms-animation: fadeInDown 1s ease both;
    -o-animation: fadeInDown 1s ease both;
    animation: fadeInDown 1s ease both;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-ms-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
}
@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
.sl-1.swiper-slide-active .up,
.up-2 {
    -webkit-animation: fadeInUp 1s ease both;
    -moz-animation: fadeInUp 1s ease both;
    -ms-animation: fadeInUp 1s ease both;
    -o-animation: fadeInUp 1s ease both;
    animation: fadeInUp 1s ease both;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-ms-keyframes fadeInUp {
    0% {
        opacity: 0;
        -ms-transform: translateY(20px);
    }
    
    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
}
@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }
    
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
.sl-1.swiper-slide-active .right {
    -webkit-animation: fadeInRight 1s ease both;
    -moz-animation: fadeInRight 1s ease both;
    -ms-animation: fadeInRight 1s ease both;
    -o-animation: fadeInRight 1s ease both;
    animation: fadeInRight 1s ease both;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-ms-keyframes fadeInRight {
    0% {
        opacity: 0;
        -ms-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
}
@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
.sl-1.swiper-slide-active .left {
    -webkit-animation: fadeInLeft 1s ease both;
    -moz-animation: fadeInLeft 1s ease both;
    -ms-animation: fadeInLeft 1s ease both;
    -o-animation: fadeInLeft 1s ease both;
    animation: fadeInLeft 1s ease both;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-ms-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -ms-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
}
@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
/*  */
@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
}
@-moz-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
    
    100% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
}
@-ms-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
    
    100% {
        opacity: 0;
        -ms-transform: translateY(20px);
    }
}
@-o-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -o-transform: translateY(0);
    }
    
    100% {
        opacity: 0;
        -o-transform: translateY(20px);
    }
}
.heart {
    -webkit-animation: heart 1.3s ease-in-out infinite alternate;
    -moz-animation: heart 1.3s ease-in-out infinite alternate;
    -ms-animation: heart 1.3s ease-in-out infinite alternate;
    -o-animation: heart 1.3s ease-in-out infinite alternate;
    animation: heart 1.3s ease-in-out infinite alternate;
}
@keyframes heart {
    from{
        transform:translate(0, 0);
    }
    to{
        transform:translate(0, 10px)
    }
}
@-webkit-keyframes heart {
    from{
        -webkit-transform:translate(0, 0);
    }
    to{
        -webkit-transform:translate(0, 10px)
    }
}
@-moz-keyframes heart {
    from{
        -moz-transform:translate(0, 0);
    }
    to{
        -moz-transform:translate(0, 10px)
    }
}
@-ms-keyframes heart {
    from{
        -ms-transform:translate(0, 0);
    }
    to{
        -ms-transform:translate(0, 10px)
    }
}
@-o-keyframes heart {
    from{
        -o-transform:translate(0, 0);
    }
    to{
        -o-transform:translate(0, 10px)
    }
}
.tada {
    -webkit-animation: shake 4s ease both infinite;
    -moz-animation: shake 4s ease both infinite;
    -ms-animation: shake 4s ease both infinite;
    -o-animation: shake 4s ease both infinite;
    animation: shake 4s ease both infinite;
}

@keyframes shake {
    0%, 20%, 100% {
        transform: translateX(0);
    }
    2%, 6%, 10%, 14%, 18% {
        transform: translateX(-5px);
    }
    4%, 8%, 12%, 16% {
        transform: translateX(5px);
    }
}