.header-wrap {
    width: 100%;
    height: 472px;
    background-image: url('//game.gtimg.cn/images/cfm/cp/a20200225march/ny_top.jpg');
    overflow: hidden;
}

.back-home-btn {
    display: block;
    position: fixed;
    top: 160px;
    right: calc((100% - 1200px) / 2);
    z-index: 9999;
    width: 187px;
    height: 31px;
}

.top-logo {
    margin: 17px auto;
    width: 371px;
}

.main-wrap {
    width: 100%;
    background-image: url('//game.gtimg.cn/images/cfm/cp/a20200225march/inside_bg.jpg');
    background-color: #f1f1f1;
    overflow: hidden;
}

.is-title-text {
    margin-top: 32px;
    font-size: 20px;
    color: #636363;
}

.is-msg-text {
    margin-top: 13px;
    line-height: 17px !important;
    font-size: 14px;
    color: #636363;
}

.title-text-2 {
    margin-top: 54px;
    font-size: 34px;
    color: #d04f32;
}

.line-icon {
    display: block;
    margin-top: 27px;
    width: 100%;
    height: 2px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
}

.title-left-icon,
.title-right-icon {
    display: inline-block;
    width: 130px;
    height: 16px;
}

.title-left-icon {
    background-position: 0 -1077px;
}

.title-right-icon {
    background-position: -156px -1077px;
}

.title-text-3 {
    display: inline-block;
    margin: 0 8px;
    font-size: 30px;
    color: #636363;
}

.wuqi-list {
    margin: 30px auto 0;
}

.wuqi-item {
    margin-right: 28px;
    width: 276px;
}

.wuqi-list.wl-2 {
    width: 1085px;
}

.wuqi-list.wl-2 .wuqi-item {
    margin-right: 108px;
    width: 486px;
}

.wuqi-wrap {
    width: 276px;
}

.wuqi-wrap2 {
    width: 486px;
}

.wuqi-img {
    margin: 0 auto;
    width: 276px;
}

.wq-bg1 {
    background-image: url('//game.gtimg.cn/images/cfm/cp/a20200225march/wq_plank_1.png');
}

.wq-bg2 {
    background-image: url('//game.gtimg.cn/images/cfm/cp/a20200225march/wq_plank_2.png');
}

.wq-bg3 {
    background-image: url('//game.gtimg.cn/images/cfm/cp/a20200225march/wq_plank_3.png');
}

.wq-bg4 {
    background-image: url('//game.gtimg.cn/images/cfm/cp/a20200225march/wq_plank_green.png');
}

.wq-bg5 {
    background-image: url('//game.gtimg.cn/images/cfm/cp/a20200225march/wq_plank_5.png');
}

.wq-name-text {
    margin-bottom: 9px;
    font-style: italic;
    line-height: 36px !important;
    font-size: 20px;
    color: #fff;
}

.wq-msg-text,
.wq-msg-text p {
    line-height: 20px !important;
    font-size: 14px;
    color: #636363;
}

.wq-i-4n {
    margin-right: 0 !important;
}

.t-j {
    text-align: justify;
}

.left-wrap,
.right-wrap {
    width: 50%;
    box-sizing: border-box;
}

.left-wrap {
    padding-right: 10px;
}

.right-wrap {
    padding-left: 10px;
}

.wq-msg2-text {
    line-height: 26px !important;
}

.wq-msg3-text {
    line-height: 26px !important;
}

.blue-text {
    font-weight: bold;
    color: #0186e3;
}

.rule-list {
    margin: 27px auto 0;
    padding: 15px 20px;
    box-sizing: border-box;
    width: 716px;
    background-image: url('//game.gtimg.cn/images/cfm/cp/a20200225march/rule_bg.png');
    background-size: 100% 100%;
}

.rule-list .wq-msg-text,
.rule-list .wq-msg-text p {
    font-size: 16px;
}

.none-tips-icon {
    margin: 48px auto;
    width: 221px;
}