body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form {
    margin: 0;
    padding: 0;
}
body,button,input,select,textarea {
    font: 14px/1.5 \5FAE\8F6F\96C5\9ED1, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}
em,b,i {
    font-style: normal;
}
a {
    text-decoration: none;
    outline: none;
}
img {
    border: 0;
    display: block;
}
button,input,select,textarea {
    font-size: 100%;
    outline: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
td,th,ul,ol,li {
    padding: 0;
    list-style: none;
}
.c:after {
    content: "\0020";
    height: 0;
    display: block;
    clear: both;
}
.c {
    zoom: 1;
}
.hide {
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: none;
}
.hh {
    overflow: hidden;
    text-indent: -999em;
    display: block;
}
/*topbar*/
.topbar {
    background: #1d1d1e;
    width: 100%;
    height: 63px;
    margin: 0 auto;
    min-width: 1000px;
    position: relative;
    z-index: 100;
}
.top-l .logo {
    width: 155px;
    height: 44px;
    position: absolute;
    left: 50px;
    top: 9px;
    background: url(./logo.png) center center no-repeat;
    z-index: 2;
}
.top-l .logo a {
    width: 100%;
    height: 100%;
    display: block;
}
.login {
    padding: 17px 0 0 660px;
}
.login a {
    background: #111114;
    border-radius: 20px;
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    color: #adadad;
}
.login a:hover {
    color: #fff;
}
.top-r {
    position: absolute;
    top: 16px;
    right: 38px;
}
.gw-btn,
.down-btn {
    width: 105px;
    height: 30px;
    line-height: 30px;
    margin-right: 18px;
    text-align: center;
    color: #d7c66c;
    border-radius: 15px;
    border: 1px #d7c66c solid;
    float: left;
    font-size: 14px;
    display: block;
}
.gw-btn:hover,
.down-btn:hover {
    color: #c7af31;
}
.top-ico-box {
    width: 188px;
    float: left;
}
.top-ico {
    background: url("./top-ico.png") no-repeat;
    width: 37px;
    height: 37px;
    display: block;
    float: left;
    margin-right: 9px;
    position: relative;
}
.top-ico-box .top-ico img {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50px;
    margin-left: -100px;
    display: none;
}
.top-ico-box .ico1 {
    background-position: 0 0;
}
.top-ico-box .ico2 {
    background-position: -46px 0;
}
.top-ico-box .ico3 {
    background-position: -92px 0;
}
.top-ico-box .ico4 {
    background-position: -137px 0;
}
.top-ico-box .ico1:hover {
    background-position: 0 -47px;
}
.top-ico-box .ico2:hover {
    background-position: -46px -47px;
}
.top-ico-box .ico3:hover {
    background-position: -92px -47px;
}
.top-ico-box .ico4:hover {
    background-position: -137px -47px;
}
.top-ico-box a:hover {
    transition: .2s background-position ease-in-out;
    -webkit-transition: .2s background-position ease-in-out;
}
.top-l .hdlogo {
    width: 187px;
    height: 42px;
    position: absolute;
    left: 230px;
    top: 9px;
    display: block;
    background: url("./logo_wegame.png") no-repeat;
}
.top-l .top-gj {
    display: block;
    top: 10px;
    left: 222px;
    width: 166px;
    height: 41px;
    background-image: url('./top_gj.png');
}
.top-l .top-jsq {
    display: block;
    top: 14px;
    left: 410px;
    width: 237px;
    height: 34px;
    background-image: url('./txjsq.png');
}
/*public*/
html,
body {
    position: relative;
    min-width: 1200px;
    background-color: #09141f;
}
.ost_box {
    min-width: 1200px !important;
}
body {
    padding-top: 42px;
    background: #0e0e0e;
    color: #fff;
    font-size: 16px;
}
.head-a a:hover,
.box .lqjl-btn:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}
/*** footer  **/
#afooter {
    min-width: 1000px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    padding: 20px 0;
    color: #6a6a6a;
    background: #0e0e0e;
}
#afooter .copyright span a,
#footer .copyright span a:hover {
    margin: 0 5px;
}
#afooter .notice {
    display: none;
}
#afooter a {
    color: #6a6a6a;
}
#stage {
    min-width: 1200px;
    background-image: url('./page_bg.jpg');
    overflow: hidden;
}
.p-a {
    position: absolute;
}
.p-r {
    position: relative;
}
.t-c {
    text-align: center;
}
.t-l {
    text-align: left;
}
.t-r {
    text-align: right;
}
.bg {
    background-position: top center;
    background-repeat: no-repeat;
}
.icons {
    display: block;
    background-image: url("./icons.png");
    background-repeat: no-repeat;
    background-size: 818px auto;
}
.t {
    text-indent: -9999em;
    overflow: hidden;
}
.f-l {
    float: left;
}
.f-r {
    float: right;
}
.ani {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.full-img img {
    display: block;
    width: 100%;
}
.bold {
    font-weight: bold;
}
.t-hide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrap {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: auto;
}
.btn-hover {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.btn-hover:hover {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}
/* 头部 */
.head-wrap {
    height: 636px;
    background-image: url('./head_bg.jpg');
    overflow: hidden;
}
.head-wrap .btn-container {
    margin: 408px auto 0;
    font-size: 0;
}
.qwgw-btn,
.xzyx-btn {
    display: inline-block;
    width: 254px;
    height: 71px;
}
.qwgw-btn {
    background-position: -524px 0;
}
.xzyx-btn {
    margin-left: 40px;
    background-position: -524px -76px;
}
/* 云游戏 */
.cloud-wrap {
    height: 271px;
    background-image: url('./cloud_bg.jpg');
}
.cloud-title {
    margin: 0 auto;
    width: 519px;
    height: 43px;
    background-position: 0 0;
}
.title-msg-text {
    margin-top: 20px;
    line-height: 26px;
    font-size: 18px;
    color: #79848a;
}
.title-msg-text .blue-text {
    font-weight: bold;
    color: #1f88f9;
}
.cloud-wrap .btn-container {
    margin: 20px auto 0;
    font-size: 0;
}
.zg-btn,
.see-btn {
    display: inline-block;
    width: 294px;
    height: 71px;
}
.zg-btn {
    background-position: -524px -356px;
}
.see-btn {
    margin-left: 40px;
    background-position: -524px -216px;
}
/* 模块1 注册立领FUN肆体验 */
.part-1 {
    height: 525px;
    background-image: url('./bg1.jpg');
    overflow: hidden;
}
.title-icon {
    margin: 0 auto;
    width: 519px;
    height: 72px;
}
.title-icon.ti-1 {
    background-position: 0 -48px;
}
.zc-container {
    margin-top: 26px;
    width: 1200px;
    height: 379px;
    background-image: url('./p1_plank_bg.png');
    background-position: top left;
    background-size: 1050px auto;
    background-repeat: no-repeat;
    overflow: hidden;
}
.part-1 .prize-icon {
    margin: 130px 0 0 87px;
    width: 120px;
}
.part-1 .num-wrap {
    display: block;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    box-sizing: border-box;
    width: 34px;
    height: 13px;
    line-height: 13px;
    font-size: 12px;
    color: #694010;
    background-position: -111px -432px ;
}
.part-1 .get-prize-wrap {
    margin: 146px 0 0 52px;
    width: 194px;
}
.part-1 .get-prize-wrap p {
    line-height: 1;
    font-size: 18px;
    color: #fff;
}
.get-prize-btn {
    width: 194px;
    height: 59px;
    background-position: -524px -292px;
}
.part-1 .get-prize-wrap .get-prize-btn {
    margin-top: 18px;
}
.swiper-dkq {
    margin: 24px 20px 0 0;
    width: 625px;
}
.syff-icon {
    top: -15px;
    right: 15px;
    z-index: 1;
    width: 85px;
    height: 29px;
    background-position: -150px -432px;
}
.prev-btn,
.next-btn {
    top: 154px;
    z-index: 1;
    width: 30px;
    height: 30px;
}
.prev-btn {
    left: -20px;
    background-position: 0 -432px;
}
.next-btn {
    right: -20px;
    background-position: -37px -432px;
}
/* 模块2 平台好礼FUN领 */
.part-2 {
    height: 1001px;
    background-image: url('./bg2.jpg');
    overflow: hidden;
}
.title-icon.ti-2 {
    margin-top: 156px;
    background-position: 0 -125px;
}
.part-2 .title-msg-text {
    color: #fff;
}
.mask-list {
    margin: 28px auto 0;
}
.mask-item {
    margin-bottom: 12px;
    width: 1200px;
    height: 179px;
    background-image: url('./p2_mask_bg.png');
}
.mask-logo {
    margin: 60px 45px 0 15px;
    width: 229px;
    height: 56px;
}
.mask-wrap {
    margin-top: 40px;
    width: 275px;
}
.mask-title-text {
    padding-left: 12px;
    line-height: 1;
    font-size: 24px;
    color: #9f6e18;
}
.mask-title-text i {
    top: 2px;
    left: 0;
    width: 6px;
    height: 21px;
    background-position: -337px -432px;
}
.mask-msg-text {
    margin-top: 14px;
    width: 252px;
    text-align: justify;
    line-height: 20px;
    font-size: 16px;
    color: #888176;
}
.part-2 .prize-list {
    margin: 30px 0 0 35px;
}
.part-2 .prize-item {
    width: 90px;
    height: 90px;
}
.part-2 .num-wrap {
    display: block;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    box-sizing: border-box;
    width: 34px;
    height: 13px;
    line-height: 13px;
    font-size: 12px;
    color: #fff;
    background-position: -72px -432px ;
}
.part-2 .add-icon {
    display: block;
    margin: 36px 11px 0;
    width: 18px;
    height: 18px;
    background-position: -287px -432px;
}
.prize-name-text {
    margin-top: 14px;
    line-height: 1;
    font-size: 16px;
    color: #888176;
}
.part-2 .mask-btn-container {
    margin: 23px 23px 0 0;
}
.download-wegame-btn,
.download-dngj-btn,
.download-jsq-btn {
    margin-top: 14px;
    width: 194px;
    height: 59px;
}
.download-wegame-btn {
    background-position: -524px -432px;
}
.download-dngj-btn {
    background-position: -524px -496px;
}
.download-jsq-btn {
    background-position: -524px -560px;
}
.wegame-code {
    display: none;
    top: 100%;
    z-index: 99;
    width: 194px;
}
.download-wegame-btn:hover + .wegame-code {
    display: block;
}
/* 模块3 百元礼包FUN肆选 */
.part-3 {
    height: 616px;
    background-image: url('./bg3.jpg');
}
.title-icon.ti-3 {
    background-position: 0 -202px;
}
.mask-wrap2 {
    margin: 46px auto 0;
    width: 1200px;
    border: 1px solid #1f88f9;
}
.mask-title-text2 {
    margin: -14px auto 0;
    width: 214px;
    line-height: 1;
    font-size: 28px;
    color: #1f88f9;
    background-color: #f9f9fa;
}
.mask-wrap2 .title-msg-text {
    margin: 20px 0 28px 0;
}
.part-3 .gift-list {
    margin: 30px auto 0;
}
.part-3 .gift-item {
    margin-right: 30px;
    width: 380px;
    height: 329px;
    background-image: url('./p3_prize_bg.jpg');
}
.gift-title-text {
    margin-top: 30px;
    line-height: 1;
    font-size: 28px;
    color: #fff;
}
.part-3 .prize-list {
    margin: 28px auto 0;
}
.part-3 .prize-item {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.part-3 .num-wrap {
    display: block;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    box-sizing: border-box;
    width: 34px;
    height: 13px;
    line-height: 13px;
    font-size: 12px;
    color: #694010;
    background-position: -111px -432px ;
}
.part-3 .add-icon {
    display: inline-block;
    vertical-align: top;
    margin: 32px 9px 0;
    width: 18px;
    height: 18px;
    background-position: -264px -432px;
}
.part-3 .prize-name-text {
    margin-top: 12px;
    line-height: 20px;
    color: #f6fcff;
}
.part-3 .get-prize-btn {
    margin: 18px auto 0;
}
/* 模块4 新秀专属 限时福利 */
.part-4 {
    height: 1003px;
    background-image: url('./bg4.jpg');
    overflow: hidden;
}
.title-icon.ti-4 {
    margin-top: 134px;
    background-position: 0 -279px;
}
.step-wrap {
    margin-top: 24px;
    width: 1200px;
    background-color: #1069cb;
    line-height: 62px;
    font-size: 20px;
    color: #e1f1ff;
}
.step-wrap span {
    color: #ffe457;
}
.arrow-icon {
    display: block;
    margin: 15px auto;
    width: 19px;
    height: 23px;
    background-position: -241px -432px;
}
.xx-gift-text {
    border-bottom: 1px solid #ffe457;
    cursor: pointer;
}
.part-4 .gift-item {
    margin-bottom: 1px;
    width: 1200px;
    height: 179px;
    background-image: url('./p4_prize_bg.png');
}
.gift-tips-text {
    margin-top: 22px;
    line-height: 24px;
    font-size: 16px;
    color: #fff;
}
.part-4 .gift-left {
    width: 320px;
    overflow: hidden;
}
.part-4 .gift-left .gift-title-text {
    margin-top: 52px;
    font-size: 30px;
    color: #7a5417;
}
.part-4 .gift-left .gift-title-text span {
    line-height: 1;
    font-size: 48px;
    color: #c75713;
}
.gift-msg-text {
    margin-top: 10px;
    line-height: 1;
    font-size: 24px;
    color: #7a5417;
}
.gift-bag-wrap {
    margin-top: 20px;
    width: 232px;
}
.gift-bag {
    margin: 0 auto;
    width: 110px;
}
.dy-icon {
    display: block;
    margin: 75px 54px 0 0;
    width: 22px;
    height: 15px;
    background-position: -310px -432px;
}
.part-4 .prize-list {
    margin: 28px auto 0;
}
.part-4 .prize-item {
    display: inline-block;
    width: 90px;
    height: 90px;
}
.part-4 .num-wrap {
    display: block;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    box-sizing: border-box;
    width: 34px;
    height: 13px;
    line-height: 13px;
    font-size: 12px;
    color: #fff;
    background-position: -72px -432px ;
}
.part-4 .add-icon {
    display: inline-block;
    vertical-align: top;
    margin: 36px 20px 0;
    width: 18px;
    height: 18px;
    background-position: -287px -432px;
}
.part-4 .prize-name-text {
    margin-top: 12px;
    line-height: 20px;
    color: #888176;
}
.cjxx-gift-wrap {
    display: none;
    top: 42px;
    right: 56px;
    z-index: 99;
    width: 740px;
    height: 178px;
    background-color: #fff;
}
.step-hover:hover + .cjxx-gift-wrap,
.cjxx-gift-wrap:hover {
    display: block;
}
.cjxx-gift-wrap .gift-bag-wrap {
    width: 202px;
}
.arrow-down-icon {
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    width: 19px;
    height: 10px;
    background-position: -348px -432px;
}
/* 模块5 下载官方助手 */
.part-5 {
    height: 378px;
    background-image: url('./bg5.jpg');
}
.title-icon.ti-5 {
    background-position: 0 -355px;
}
.download-container {
    margin: 50px auto 0;
    width: 1200px;
    height: 195px;
    background-image: url('./p5_download_bg.png');
    font-size: 0;
    overflow: hidden;
}
.download-code,
.down-load-right {
    display: inline-block;
    vertical-align: top;
}
.download-code {
    margin-top: 28px;
    width: 140px;
}
.down-load-right {
    margin-top: 30px;
    margin-left: 40px;
}
.down-load-right p {
    line-height: 30px;
    font-size: 20px;
    color: #fff;
}
.zsgw-btn {
    margin-top: 15px;
    width: 234px;
    height: 59px;
    background-position: -524px -152px;
}
/* 弹窗 */
.pop {
    display: none;
}
.zhiyin-pop {
    width: 1000px;
    height: 1370px;
    background-image: url('./pop_bg.png');
    background-size: 100% 100%;
}
.close-btn {
    display: block;
    top: 0;
    right: -50px;
    width: 40px;
    height: 40px;
    background-position: -420px -515px;
}
.ti-pop {
    margin-top: 40px;
    height: 42px;
    background-position: 0 -468px;
}
.zy-step-list {
    margin: 48px 50px 0;
}
.zy-step-item {
    margin-bottom: 16px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #fff;
}
.step-num {
    margin-right: 16px;
    width: 92px;
    height: 28px;
    line-height: 28px;
    background-position: -372px -432px;
    font-size: 18px;
    color: #40370a;
}
.zy-step-text {
    line-height: 28px;
    font-size: 20px;
    color: #e1f1ff;
}
.qw-btn {
    margin-top: -13px;
    margin-left: 52px;
    width: 156px;
    height: 48px;
    background-position: 0 -515px;
}
.step-img {
    margin-top: 26px;
    width: 740px;
}
.download-wegame2-btn {
    margin: 20px auto 0;
    width: 254px;
    height: 59px;
    background-position: -161px -515px;
}