/*reset*/
html,
body,
div,
section,
p,
ul,
li,
form,
table,
td,
a,
dl,
dt,
dd,
em,
i,
span,
img,
input,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    /* -webkit-user-select: none; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

ul,
li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

input[type="text"],
input[type="password"],
select {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    box-sizing: border-box;
}

a:focus,
a:active,
a {
    outline: none;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    blr: expression(this.onFocus=this.blur());
    outline: none;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button,
input {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

em,
i,
b {
    font-style: normal;
}

fieldset,
img {
    border: 0;
    display: block;
}

img {
    width: 100%;
}

.c:after {
    content: '\20';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.hh {
    display: block;
    text-indent: -999em;
    overflow: hidden;
}

.hide {
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

html {
    font-size: 100px;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font: .22rem/1.75 -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #1f272d;
    font-size: 0.24rem;
    color: #a8b4cc;
    position: relative;
    overflow-x: hidden;
}

.flex {
    display: flex;
    display: -webkit-flex;
}

.flex-1 {
    flex: 1;
    -webkit-flex: 1;
}

.flex-center {
    justify-content: center;
    -webkit-justify-content: center;
}

.flex-middle {
    align-items: center;
    -webkit-align-items: center;
}

/* 
#stage {
    min-width: 13.34rem;
    overflow: hidden;
} */
.p-a {
    position: absolute;
}

.p-r {
    position: relative;
}

.t-c {
    text-align: center;
}

.t-r {
    text-align: right;
}

.bg {
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.t {
    text-indent: -999em;
    overflow: hidden;
}

.icons {
    display: block;
    background-image: url("//game.gtimg.cn/images/cfm/ingame/cp/a20200225marchhb/icons.png");
    background-repeat: no-repeat;
    background-size: 4.32rem auto;
}

.f-l {
    float: left;
}

.f-r {
    float: right;
}

.ani {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.full-img img {
    display: block;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.t-of {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 12.34rem;
    height: 5.8rem;
}

.btn-hover:hover {
    cursor: pointer;
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

/* 动画 */
.sl-1 .dl-1 {
    -webkit-animation-delay: .1s !important;
    -moz-animation-delay: .1s !important;
    -ms-animation-delay: .1s !important;
    -o-animation-delay: .1s !important;
    animation-delay: .1s !important;
}

.sl-1 .dl-2 {
    -webkit-animation-delay: .2s !important;
    -moz-animation-delay: .2s !important;
    -ms-animation-delay: .2s !important;
    -o-animation-delay: .2s !important;
    animation-delay: .2s !important;
}

.sl-1 .dl-3 {
    -webkit-animation-delay: .3s !important;
    -moz-animation-delay: .3s !important;
    -ms-animation-delay: .3s !important;
    -o-animation-delay: .3s !important;
    animation-delay: .3s !important;
}

.sl-1 .dl-4 {
    -webkit-animation-delay: .4s !important;
    -moz-animation-delay: .4s !important;
    -ms-animation-delay: .4s !important;
    -o-animation-delay: .4s !important;
    animation-delay: .4s !important;
}

.sl-1 .dl-5 {
    -webkit-animation-delay: .5s !important;
    -moz-animation-delay: .5s !important;
    -ms-animation-delay: .5s !important;
    -o-animation-delay: .5s !important;
    animation-delay: .5s !important;
}

.sl-1.swiper-slide-active .tit {
    -webkit-animation: fadeInDown 1s ease both;
    -moz-animation: fadeInDown 1s ease both;
    -ms-animation: fadeInDown 1s ease both;
    -o-animation: fadeInDown 1s ease both;
    animation: fadeInDown 1s ease both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

.sl-1.swiper-slide-active .up,
.sl-1.swiper-slide-active .sl-wq.swiper-slide-active .up-2 {
    -webkit-animation: fadeInUp 1s ease both;
    -moz-animation: fadeInUp 1s ease both;
    -ms-animation: fadeInUp 1s ease both;
    -o-animation: fadeInUp 1s ease both;
    animation: fadeInUp 1s ease both;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes fadeInUp {
    0% {
        opacity: 0;
        -ms-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

.sl-1.swiper-slide-active .right {
    -webkit-animation: fadeInRight 1s ease both;
    -moz-animation: fadeInRight 1s ease both;
    -ms-animation: fadeInRight 1s ease both;
    -o-animation: fadeInRight 1s ease both;
    animation: fadeInRight 1s ease both;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes fadeInRight {
    0% {
        opacity: 0;
        -ms-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
}

@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

.sl-1.swiper-slide-active .left {
    -webkit-animation: fadeInLeft 1s ease both;
    -moz-animation: fadeInLeft 1s ease both;
    -ms-animation: fadeInLeft 1s ease both;
    -o-animation: fadeInLeft 1s ease both;
    animation: fadeInLeft 1s ease both;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -ms-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

/*  */
@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
}

@-moz-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
}

@-ms-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -ms-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -ms-transform: translateY(20px);
    }
}

@-o-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -o-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -o-transform: translateY(20px);
    }
}

.heart {
    -webkit-animation: heart 1.3s ease-in-out infinite alternate;
    animation: heart 1.3s ease-in-out infinite alternate;
}

@keyframes heart {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(0, .1rem)
    }
}

@-webkit-keyframes heart {
    from {
        -webkit-transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(0, .1rem)
    }
}

.tada {
    -webkit-animation: shake 4s ease both infinite;
    -moz-animation: shake 4s ease both infinite;
    -ms-animation: shake 4s ease both infinite;
    -o-animation: shake 4s ease both infinite;
    animation: shake 4s ease both infinite;
}

@keyframes shake {

    0%,
    20%,
    100% {
        transform: translateX(0);
    }

    2%,
    6%,
    10%,
    14%,
    18% {
        transform: translateX(-5px);
    }

    4%,
    8%,
    12%,
    16% {
        transform: translateX(5px);
    }
}

/*hengban tips*/
.mod-orient-layer {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 9997
}

.mod-orient-layer_content {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.mod-orient-layer_content::after {
    content: "为了更好的体验，请将手机/平板转过来";
    text-align: center;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    height: 30px;
    width: 100%;
    margin-top: 50px;
    z-index: 99999;
}


/*hengban tips*/
.mod-orient-layer {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 9997
}

.mod-orient-layer_content {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.mod-orient-layer_content::after {
    content: "为了更好的体验，请将手机/平板转过来";
    text-align: center;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    height: 30px;
    width: 100%;
    margin-top: 50px;
    z-index: 99999;
}

.mod-orient-layer_content::before {
    content: "";
    position: absolute;
    z-index: 99999;
    height: 200px;
    width: 100px;
    left: 50%;
    top: 50%;
    margin: -140px 0 0 -50px;
    color: #fff;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHQAAAB2CAYAAAAZUrcsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MDAwMjcwNkVEQzczMTFFNjlFMDFGQTEzNkM3N0JBMTMiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MDAwMjcwNkREQzczMTFFNjlFMDFGQTEzNkM3N0JBMTMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjQ0NzhCMTlBREM1ODExRTZCNTdFRjQ0Q0I1QzRCODZBIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjQ0NzhCMTlCREM1ODExRTZCNTdFRjQ0Q0I1QzRCODZBIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+J30rNQAACRRJREFUeNrsXQlsFVUUfW2hpexQlhYJi0IQJaCgoLgAsohIkFWIURQFNaBgBKMRgZAY1KgYlRIiQVkEo4IBEVAxBsQgyFIkLAHRgFCkgJhCgVqg33syd+R1nPb/+Z3fzpvek5y0s/6Ze+Zt9933XlIkElExIpN4HfF6YmviJWUGkonFxP3Eg8QjxL9VSJEUg6CNiD2Jw4mdiRnEBmwkI96RiJc8xdxCXEz8sSoKOpH4PLFlCN99PfE94ldVQVBkq9nEe1yO5RPPEFMMeccIp9LGxHSX4/P5wy306fc6EjsQtxF/DYKg/YnLOFu1AQEXEncwc4nVDBO0FbEr8V7iUMc5OcRBxGM+/B4SwniuY3xD/IH4GZfdFfC2JKjGbsSiSElkE5s7zjOdvYnfOt5zF7FmOe+bGXHHKeIyYqdEv5u+0Yx4UnuIAuLgkAnp5GyH4VeU836NiPOJOZHSsZTYuSIEXeX44b4hF9Pmy473Hu/DPWsR2xOnEX9xEfU8cSYxKVGCDnT84NgqIqbNFdq7nyM29Pn+Q4hfugi7ye/Uav+zWvuRrVVMTLAl8axmg2cT9DsjiHscoqJoG+anoK2JhdoP9K6CgoIzNBtsSeDvpBLfcUmtvuSKyMPHUGX3Q670HiK2J172UFG+kViXWMRNGjeX4UCP94zVA4SmwXKf2pBo0mzm9nUht8UT2dQYRlxArKfte5z4UXmbLdnaV/K+h6+hPnGR4ytbR2zhOK9vJLFo6lPKSSHu0+47vAJyhXbE3Y73GVeeeyazb9bGUQ/fAhwNo12cEp8Tq2v7EunEP++jT/mKI0W2qwA3wAHifQ6P0gfEXvHeEN6eJtr2iRiv6018QPPE4IGyiHU463qQuNTlujziVr4mOU6jw33Xg1gjAQb+R/s/tYI8WbnsYv2e2Jb3IVHc7DGB/SdolrZ9Lsbrumj/b2cR5xAn8L7OpQi62cXt5hVp3A3WIkFdbfrHU1GAy3EU8WcuwzPYx9w/HkGLHduxIE/7H4Z9kXh7Kcd1dGM/cXGcvmBUvGpzl17YsJM4hrv2FPucR2vbMVeK9HbRiBgL3wbEvFIqKReJbbRzeyWwQnSB2NjHSore+J9eSc2nL7RnyGVbe6oUxQP0+I906fkv5K/skLYvkd1s6dx8CRPGanZtRpziNcuNFxu4rHyE+/+OExcRd7nU5F7xsb9R/1AKPZT7puAMd7zP4O1xxLd5f8Ky3LAyCFmuXaSdiMcVmawEQQSy3Hna9uh4qumCYGEZ1+rtZuAtLuc8QVxJvEYEDR6clbuD3Ma3dbrfcbwp8Q128OTYbVavlaJO7KoqUuaEcSr2Kv3FX/35AD4fOkfQKTLE4a1DRGJ3/r+r45qP1VW3bYbd9vcqKFx+rxmaAvARrgmYoCncAhjD23i+h7hlAOixw8h2EbmI2OKniX20Y49xKvWc5RYZnKWdDWCukqSXfyzaRnU1fHa31ibN5ATYlJs1NuD3XRJvO1Q3SD67q4KMauySxN/LAXw+PNOTXF6+qZWN65Tl80aKRXxvPz52K6dguzcrl1OrL46Fnco9EDtoOK1KdhEGEW8R/+ByEWKlcvn5qLLG5PTTzmurXfeU0+FQHkFTDRCznkE1eQRjFxA/UVYEiGLP22ntHF3MBZyCpR0aYKzlbHWvts+tZwm+8oniWDADKE8HKGuUXGl4mHhBBDUHKE/vIq5yOTZLWVEfSgQ1C6gBDybO1vYh1U6NVq0XBBuTuQ09mWu1ZUJSqBmYqSzn/G4RNFyVJSWCVjGIoCKoQAQViKACEVTAguqiRgtaTjLwY0j28LxebBHYl9XnI0qLcr4+4qu+Ae8HUewBtRkxiFpX+7+miYLC9YeobIyFRBR6NE/ET8S5LGyOAe+Hd3pVWVEA6N2PFmW/UFldU7juOxMFjWXyRoEIKhBBBSKoIH5BEZyEWJfmXBO8LKarsEorKnKHldW5faS8giJ2BeM/7yDWEvtWKiAsIukRCfipV0ExAGYqp0pB8IDgawwIXheLoJi8N1tsFnhEWKt5ZQn6kjJ3MFJVBWKNZrsJivn4Vot9jMQAO/u1BUXNFbOBNRHbGImTylpTp8B2Vk8RMY0GtHvOTqGYmQsRZVk+3Rxj/uEQTxE7lwlMPYfBvoN9uh9GfrdBw7WHj2IqbvzuEL1itpVfwIDgrshy7/b5IWuKTpVmq54QtJXYNTRo4ZwAWWA2spJ9Lj8F/iGemcCbS9Rf8AB/QE/iTcRnlLdpeJJQy5UO0eAAU6RjurdNvL1PWU6fWTFeH5EUGiz8qYlpY6OXG4igwQJmCrvN2RTxcgMZwR0sIIgA8yqgBwUTN8KLNE0ENRvwyy7hWm51rxdLlhtcVI/nIhE0ZBBBQwYpQ4OHPdx8qcHt0obsZEgWQc3EJGWtg2YDy15i5tN0yXLDAU+ePBE0eHBOW5smgkotVyCCCkLTbPmNiZXzOogJzU2hGP2E9UUwHwMWK+2orMntD4oZzRMUVedByppU4oq2b72yhhoeFlOaJSgWe9lQyjGsWjBXTGmWoJuiHM8RU5olaLQV42WIvmGC3hnleDcxpVmCjlLWGEQ3oPkySUxplqA4bzlxgrICmTAmA3MEYi4GrCEiwdoGOhbQfTOHOF1Z/XWYvLGlmNBcQW00UTI42PgsVyCCCuKEcwpYLLwbcye3hKAEDzdwHQUd3YjN7eAl4YmgwcO7ypqA2V5mGsKmiaDmIl3FGBAmZahUigQiqEAEFYigAhFUBBUYKqhMshgepEDQi2KH0CAfgh4RO4QGxyFovtghNDgNQXf5fNNisWul2WofBPV7WcVLolOl2eprTFGO6VMwyVFHn266HzdWMhFyNFwg9ie29+l+CNbrbq8KMZS4QmxsNIYQV+rrtmCihl5iFyOxRlnr7pRYiAcB09v4r8AcHFPWGnUnnIICmAlyrSq50LoguMjjlLnd3uG2mB2ClBYTu4i9Ag0scI/lQH/Xd5a23CRiWl5Q1opLdcR2gcIZ4uvKGsXwP7dttAVhWxH7EEcqa0ar2ixwkpKpzRMN28aI0y0gHiAuZb/B0VIvinHJ5muVFR+ayZWmZCUeoUTDtvFxrvDsVdZkJWXiXwEGAB5thUjn4vqyAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px auto;
}